<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_CM_FG_FUNCTION']}</ui:define>
    <ui:define name="content">
        <style type="text/css">
            td.selectionDisabled .ui-chkbox {
                display: none;
            }
            .mg-left-115 label:first-child {
                margin-left: 5px !important;
            }
            .ui-selectonemenu-items-wrapper{
                word-break: break-all;
                max-width: 500px !important;
                min-width: 300px;
            }
            .ui-selectonemenu-panel{
                max-width: 450px !important;
                min-width: 300px;
            }
            .ui-selectcheckboxmenu-panel{
                max-width: 450px !important;
                min-width: 300px;
                overflow: auto !important;
            }
        </style>

        <p:outputPanel id="pnlSearch">
            <p:outputPanel  rendered="#{groupPermissionFunctionController.viewSearch}">
                <h:form id="permission" styleClass="Container100">
                    <!--<p:focus context="permission:pnlpermissionSearch"/>-->
                    <p:outputPanel id="pnlpermissionSearch" styleClass="Container100">
                        <p:outputPanel id="pnlPermissionSearchLabel" styleClass="ContainerIndent mg-top-3">

                            <p:messages id="msgSearch" for="msgSearch" autoUpdate="true" showDetail="true" globalOnly="true"
                                        showSummary="true"
                                        closable="true"/>
                            <cbs:panel classForToggle="pnlpermissionSearch"
                                       titleHeader="#{lang['common.search.header']}"/>
                            <div id="f" tabindex="1" class="Container100 Responsive100">
                                <div class="ContainerIndent">
                                    <div class="Container50 Responsive" id="pnlProgramName">
                                        <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['permission.function.group.code']}"/>
                                        </div>
                                        <div class="Container60 Responsive50 ui-fluid ui-relative">
                                            <p:inputText maxlength="50"
                                                         onchange="this.value=this.value.trim()"
                                                         value="#{groupPermissionFunctionController.inputSearch.groupCode}"
                                            >
                                                <p:keyFilter regEx="/[a-z0-9_]/i"/>
                                            </p:inputText>
                                        </div>
                                    </div>

                                    <!--Trang thai -->
                                    <div class="Container50 Responsive">
                                        <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['permission.function.group.status']}"/>
                                        </div>
                                        <div class="Container60 Responsive50 ui-fluid">
                                            <p:selectOneMenu value="#{groupPermissionFunctionController.inputSearch.status}"
                                                             styleClass="mui-select_2 Container75 ">
                                                <f:selectItem itemLabel="#{lang['webchain.catalog.satus2']}"
                                                              itemValue=""/>
                                                <f:selectItems
                                                        value="#{groupPermissionFunctionController.statusList}"
                                                        var="apDomain"
                                                        itemLabel="#{apDomain.name}"
                                                        itemValue="#{apDomain.value}"/>
                                                <p:ajax event="change" oncomplete="completeSelect();" />
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="Container100 Responsive100">
                                <div class="Container100 TexAlCenter">
                                    <!--Tìm kiếm -->
                                    <p:commandButton process="@this,@form"
                                                     id="searchId"
                                                     update="@([id$=tblListGroupFunction])"
                                                     action="#{groupPermissionFunctionController.doSearch()}"
                                                     onclick="PF('tblListGroupFunction').getPaginator().setPage(0);"
                                                     value="#{lang['common.button.search']}"
                                                     style="margin-right: 5px"/>
                                    <!--Them moi/Chinh sua-->
                                    <p:commandButton
                                            process="@this"
                                            update="@([id$=dlgGroupPermissionFunction])"
                                            id="addBtnDetailUpdate"
                                            style="margin-right: 5px"
                                            actionListener="#{groupPermissionFunctionController.preToAddOrUpdate}"
                                            oncomplete="PF('dlgGroupPermissionFunction').show();"
                                            value="#{lang['permission.function.group.add.edit']}">
                                        <!--<f:setPropertyActionListener value="#{false}" target="#{groupPermissionFunctionController.viewSearch}"/>-->
                                    </p:commandButton>
                                </div>
                            </div>
                        </p:outputPanel>
                        <!--Kết quả tìm kiếm-->
                        <p:outputPanel id="pnlResultFunction" styleClass="ContainerIndent mg-top-3">
                        <div class="pnlFunctionList Container100">
                            <cbs:panel classForToggle="pnlTaskList"
                                       titleHeader="#{lang['common.lb.search.result']}"/>
                            <div class="pnlFunctionTableList Container100">
                                <p:outputPanel styleClass="Container100">
                                    <p:dataTable id="tblListGroupFunction"
                                                 widgetVar="tblListGroupFunction"
                                                 styleClass="tableListCustomer"
                                                 rows="#{lang['common.paging.rows.default']}"
                                                 paginator="#{lang['common.paging.paginator']}"
                                                 var="permissionDTO"
                                                 rowIndexVar="rowIndex"
                                                 value="#{groupPermissionFunctionController.lazyLoad}"
                                                 rowKey="#{permissionDTO.permissionObjectId}"
                                                 lazy="true"
                                                 scrollable="true" scrollWidth="100%"
                                                 paginatorAlwaysVisible="true"
                                                 rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                                 paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                                 paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                                 currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                                 emptyMessage="#{lang['common.search.not.record.found']}">

                                        <p:column style="width: 5%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['lb.STT']}"
                                                              title="#{lang['lb.STT']}"/>
                                            </f:facet>
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <!--<p:column style="width: 4%">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['common.label.action']}"
                                                              title="#{lang['common.label.action']}"/>
                                            </f:facet>

                                            <p:commandLink title="#{lang['common.icon.update']}"
                                                           style="margin-left: 5px;"
                                                           process="@this"
                                                           resetValues="true"
                                                           styleClass="fa icon-edit Fs16 blue"
                                                           update="@([id$=dlgFunctionForm]), @([id$=dlgFunction])"
                                                           oncomplete="if(!args.validationFailed){PF('dlgFunctionForm').show()}"
                                                           actionListener="#{permissionController.preEditFunction(permissionDTO)}"
                                            >
                                            </p:commandLink>
                                        </p:column>-->

                                        <p:column style="width: 19%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.group.code']}"
                                                        title="#{lang['permission.function.group.code']}"/>
                                            </f:facet>
                                            <p:outputLabel
                                                    title="#{permissionDTO.permissionCode}" style="float:left;"
                                                    value="#{permissionDTO.permissionCode}"/>
                                        </p:column>

                                        <p:column style="width: 19%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.group.name']}"
                                                        title="#{lang['permission.function.group.name']}"/>
                                            </f:facet>
                                            <p:outputLabel title="#{permissionDTO.permissionName}" style="float:left;"
                                                           value="#{permissionDTO.permissionName}"
                                            />

                                        </p:column>

                                        <p:column style="width: 19%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['common.status']}"
                                                        title="#{lang['common.status']}"/>
                                            </f:facet>
                                            <p:outputLabel title="#{permissionDTO.status==1? lang['PERMISSION.STATUS_ACTIVE']:lang['PERMISSION.STATUS_IN_ACTIVE']}" style="float:left;"
                                                           value="#{permissionDTO.status==1? lang['PERMISSION.STATUS_ACTIVE']:lang['PERMISSION.STATUS_IN_ACTIVE']}"
                                            />

                                        </p:column>

                                        <p:column style="width: 19%" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.name']}"
                                                        title="#{lang['permission.function.name']}"/>
                                            </f:facet>
                                            <p:outputLabel
                                                    title="#{permissionDTO.functionName}" style="float:left;text-align: left"
                                                    value="#{permissionDTO.functionName}"
                                            />

                                        </p:column>

                                        <p:column style="width: 19%" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['permission.function.parent.name']}"
                                                        title="#{lang['permission.function.parent.name']}"/>
                                            </f:facet>
                                            <p:outputLabel
                                                    title="#{permissionDTO.functionParentName}" style="float:left; text-align: left"
                                                    value="#{permissionDTO.functionParentName}"
                                            />

                                        </p:column>

                                    </p:dataTable>
                                </p:outputPanel>
                            </div>
                        </div>
                    </p:outputPanel>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:outputPanel>

        <!--<p:outputPanel id= "pnlAdd">
            <p:outputPanel  rendered="#{!groupPermissionFunctionController.viewSearch}">
                <h:form id="form" styleClass="Container100">
                    <p:outputPanel id="pnlfunctionSearch" styleClass="Container100">
                        <p:outputPanel id="pnlFunctionSearchLabel" styleClass="ContainerIndent mg-top-3">
                            <p:messages id="msgForm" showDetail="true" globalOnly="true"
                                        showSummary="true"
                                        closable="true"/>
                            <cbs:panel classForToggle="pnlfunctionSearch"
                                       titleHeader="#{groupPermissionFunctionController.header}"/>
                            <div class="Container100 Responsive100">
                                <div style="width: 46%; float: left; padding:20px 10px;box-shadow: none !important;">
                                    <cbs:panel classForToggle="pnlfunctionSearch"
                                               titleHeader="#{lang['permission.function.group.group']}"/>
                                    <div class="Container100 Responsive100">
                                        <div class="Container30 Responsive50 pd-top-4">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['permission.function.action']}"/>
                                            <p:outputLabel value="*" style="color: red"/>
                                        </div>
                                        <div class="Container60 Responsive50 ui-fluid ui-relative">
                                            <p:selectOneMenu id="action"
                                                             value="#{groupPermissionFunctionController.create}">
                                                <f:selectItem itemLabel="#{lang['permission.function.add']}" itemValue="#{true}"/>
                                                <f:selectItem itemLabel="#{lang['permission.function.update']}" itemValue="#{false}"/>
                                                <p:ajax event="change" onstart="disableSelect()" oncomplete="enableSelect();" listener="#{groupPermissionFunctionController.updateList}" update="@(.needUpdate), @([id$=form])" process="@this"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                    <div class="Container100 Responsive100">
                                        <div class="Container30 Responsive50 pd-top-4">
                                            <p:outputLabel styleClass="lb-sentinel"
                                                           value="#{lang['permission.function.group']}"/>
                                            <p:outputLabel value="*" style="color: red"/>
                                        </div>
                                        <div class="Container60 Responsive50 ui-fluid ui-relative">
                                            <p:selectCheckboxMenu id="group"
                                                                  widgetVar="group"
                                                                  styleClass="needUpdate"
                                                                  rendered="#{groupPermissionFunctionController.create eq true}"
                                                                  disabled=""
                                                                  value="#{groupPermissionFunctionController.selectList}"
                                                                  filter="true"
                                                                  label="#{groupPermissionFunctionController.label}"
                                                                  filterMatchMode="contains"
                                                                  onHide="updateTable();"
                                                                  style="border: solid 1px #C0C5C7 !important;border-left: none !important;border-top: none !important;border-right: none !important;">
                                                <f:selectItems
                                                        value="#{groupPermissionFunctionController.permissionGroupDTOList}"
                                                        var="permission"
                                                        itemLabel="#{permission.permissionGroupName}" itemValue="#{permission.permissionGroupId}"/>
                                            </p:selectCheckboxMenu>
                                            <p:selectOneMenu id="groupSelect"
                                                             widgetVar="groupSelect"
                                                             styleClass="needUpdate"
                                                             rendered="#{groupPermissionFunctionController.create eq false}"
                                                             value="#{groupPermissionFunctionController.selectOne}"
                                                             filter="true"
                                                             filterMatchMode="contains">
                                                <p:ajax event="change" listener="#{groupPermissionFunctionController.setList}" process="@this"  update="@([id$=tblListGroup]), @([id$=treeMenu]), @([id$=tblListFunction]), "/>
                                                <f:selectItem itemLabel="#{lang['webchain.catalog.satus2']}" itemValue=""/>
                                                <f:selectItems
                                                        value="#{groupPermissionFunctionController.permissionGroupDTOList}"
                                                        var="permission"
                                                        itemLabel="#{permission.permissionGroupName}" itemValue="#{permission.permissionGroupId}"/>
                                            </p:selectOneMenu>
                                            <p:remoteCommand name="updateTable" actionListener="#{groupPermissionFunctionController.setList}" update="@([id$=tblListGroup]), @([id$=group])" />
                                        </div>
                                    </div>
                                    <cbs:panel classForToggle="pnlfunctionSearch"
                                               titleHeader="#{lang['permission.function.group.select']}"/>
                                    <div class="Container100 Responsive100 MarTop10" id="tableSelect">
                                        <p:dataTable id="tblListGroup"
                                                     widgetVar="tblListGroup"
                                                     styleClass="tableListCustomer"
                                                     rows="#{lang['common.paging.rows.default']}"
                                                     paginator="#{lang['common.paging.paginator']}"
                                                     var="groupDTO"
                                                     rowIndexVar="rowIndex"
                                                     value="#{groupPermissionFunctionController.selectPermissionGroupDTOList}"
                                                     rowKey="#{groupDTO.permissionGroupId}"
                                                     lazy="false"
                                                     scrollable="true" scrollWidth="100%"
                                                     paginatorAlwaysVisible="true"
                                                     pageLinks="#{lang['common.paging.pageLink']}"
                                                     rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                                     paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                                     paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                                     currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                                     emptyMessage="#{lang['common.search.not.record.found']}">
                                            <p:column style="width: 10%;" styleClass="TexAlCenter">
                                                <f:facet name="header">
                                                    <h:outputText value="#{lang['lb.STT']}"
                                                                  title="#{lang['lb.STT']}"/>
                                                </f:facet>
                                                <h:outputText value="#{rowIndex+1}"/>
                                            </p:column>

                                            <p:column style="width: 45%;" styleClass="TexAlCenter">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{lang['permission.function.group.code']}"
                                                            title="#{lang['permission.function.group.code']}"/>
                                                </f:facet>
                                                <p:outputLabel
                                                        title="#{groupDTO.permissionGroupCode}" style="float:left;"
                                                        value="#{groupDTO.permissionGroupCode}"/>
                                            </p:column>

                                            <p:column style="width: 45%;" styleClass="TexAlCenter">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{lang['permission.function.group.name']}"
                                                            title="#{lang['permission.function.group.name']}"/>
                                                </f:facet>
                                                <p:outputLabel title="#{groupDTO.permissionGroupName}" style="float:left;"
                                                               value="#{groupDTO.permissionGroupName}"
                                                />
                                                
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>

                                <div style="width: 50%; float: right; padding:20px 10px; border-left: 1px solid black;box-shadow: none !important;border-radius: 0px;">
                                    <p:outputPanel styleClass="content-tree">
                                        <cbs:panel classForToggle="pnlfunctionSearch"
                                                   titleHeader="#{lang['permission.function.group.function']}"/>
                                        <p:tree value="#{groupPermissionFunctionController.rootTreeMenu}"
                                                var="root"
                                                style="overflow: auto; max-height: 200px; width: 500px"
                                                selectionMode="checkbox"
                                                selection="#{groupPermissionFunctionController.selectedNode}"
                                                id="treeMenu"
                                                widgetVar="treeMenu">
                                            <p:ajax event="select" process="@this" listener="#{groupPermissionFunctionController.onSelect}"
                                                    update="@([id$=tblListFunction])"/>
                                            <p:ajax event="unselect" process="@this" listener="#{groupPermissionFunctionController.onSelect}"
                                                    update="@([id$=tblListFunction])"/>
                                            <p:treeNode expandedIcon="ui-icon-home"
                                                        collapsedIcon="ui-icon-home"
                                                        icon="ui-icon-note">
                                                <h:outputText value="#{root.functionName}"/>
                                            </p:treeNode>
                                        </p:tree>
                                    </p:outputPanel>

                                    <cbs:panel classForToggle="pnlfunctionSearch"
                                               titleHeader="#{lang['permission.function.group.select']}"/>
                                    <div class="Container100 Responsive100 MarTop10" id="tableSelectFunction">
                                        <p:dataTable id="tblListFunction"
                                                     widgetVar="tblListFunction"
                                                     styleClass="tableListCustomer"
                                                     rows="#{lang['common.paging.rows.default']}"
                                                     paginator="#{lang['common.paging.paginator']}"
                                                     var="functionDTO"
                                                     rowIndexVar="rowIndex"
                                                     value="#{groupPermissionFunctionController.functionObjectDTOList}"
                                                     rowKey="#{functionDTO.functionObjectId}"
                                                     lazy="false"
                                                     scrollable="true" scrollWidth="100%"
                                                     paginatorAlwaysVisible="true"
                                                     pageLinks="#{lang['common.paging.pageLink']}"
                                                     rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                                     paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                                     paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                                     currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                                     emptyMessage="#{lang['common.search.not.record.found']}">
                                            <p:column style="width: 10%;" styleClass="TexAlCenter">
                                                <f:facet name="header">
                                                    <h:outputText value="#{lang['lb.STT']}"
                                                                  title="#{lang['lb.STT']}"/>
                                                </f:facet>
                                                <h:outputText value="#{rowIndex+1}"/>
                                            </p:column>

                                            <p:column style="width: 45%;" styleClass="TexAlCenter">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{lang['permission.function.tree.code']}"
                                                            title="#{lang['permission.function.tree.code']}"/>
                                                </f:facet>
                                                <p:outputLabel
                                                        title="#{functionDTO.functionCode}" style="float:left;"
                                                        value="#{functionDTO.functionCode}"/>
                                            </p:column>

                                            <p:column style="width: 45%;" styleClass="TexAlCenter">
                                                <f:facet name="header">
                                                    <h:outputText
                                                            value="#{lang['permission.function.tree.name']}"
                                                            title="#{lang['permission.function.tree.name']}"/>
                                                </f:facet>
                                                <p:outputLabel title="#{functionDTO.functionName}" style="float:left;"
                                                               value="#{functionDTO.functionName}"
                                                />
                                                
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                                <div class="Container100 TexAlCenter" style="margin-top: 10px;">
                                    <p:commandButton id="cancelBtn"
                                                     value="#{lang['common.button.NO']}"
                                                     immediate="true"
                                                     process="@this"
                                                     update="@([id$=pnlAdd]), @([id$=pnlSearch])"
                                                     style="margin-right: 5px;margin-bottom: 10px;">
                                        <f:setPropertyActionListener value="#{true}" target="#{groupPermissionFunctionController.viewSearch}"/>
                                    </p:commandButton>
                                    &lt;!&ndash;<cc:confirmButton
                                            id="saveButton"
                                            updateArea="@([id$=pnlAdd]), @([id$=pnlSearch])"
                                            process="@this,@form"
                                            dlgWidgetVar="saveButton"
                                            appendTo="@(body)"
                                            action="#{groupPermissionFunctionController.doCreateOrUpdate()}"
                                            headerConfirm="#{lang['webchain.catalog.dl.title']}"
                                            messageConfirm="#{lang['webchain.catalog.comfirm.addForm']}"
                                            styleClassButton="waves-effect waves-light btn"
                                            styleButton="margin-right:5px"
                                            valueButton="#{lang['common.save']}">
                                    </cc:confirmButton>&ndash;&gt;

                                    <p:commandButton process="@this, @([id$=form])"
                                                     global="true"
                                                     update="@form"
                                                     updateArea="@form" value="#{lang['common.save']}"
                                                     action="#{groupPermissionFunctionController.showDlg()}">
                                    </p:commandButton>

                                    <p:confirmDialog id="dialog" widgetVar="test"
                                                     onkeypress="if (event.keyCode == 13) { document.getElementById('form:yesId').click(); return false; }"
                                                     message="#{lang['webchain.catalog.comfirm.addForm']}"
                                                     header="#{lang['webchain.catalog.dl.title']}">
                                        <div class="ContainerIndent TexAlRight">
                                            <p:commandButton id="noIdDlg" value="#{lang['common.button.NO']}" onclick="PF('test').hide()"
                                                             styleClass="ui-confirmdialog-no" style="margin-right: 5px !important;"/>
                                            <p:commandButton value="#{lang['common.YES']}" styleClass="ui-confirmdialog-yes"
                                                             id="yesId"
                                                             action= "#{groupPermissionFunctionController.doCreateOrUpdate()}"
                                                             process="@this, @form"
                                                             onkeypress="enter()"
                                                             onclick="PF('test').hide()"
                                                             update="@([id$=pnlAdd]), @([id$=pnlSearch])"/>
                                        </div>
                                    </p:confirmDialog>
                                </div>
                            </div>
                        </p:outputPanel>
                    </p:outputPanel>
                </h:form>
            </p:outputPanel>
        </p:outputPanel>-->
        <p:dialog id="dlgGroupPermissionFunction"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgGroupPermissionFunction"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="false"
                  width="90%">
            <ui:include src="dlgGroupPermissionFunction.xhtml"/>
        </p:dialog>
        <script>
            function disableSelect() {
                $('div[id$="groupSelect"]').css({pointerEvents: "none"});
                $('div[id$="group"]').css({pointerEvents: "none"});
            }
            function enableSelect() {
                $('div[id$="groupSelect"]').css({pointerEvents: "auto"});
                $('div[id$="group"]').css({pointerEvents: "auto"});
            }
            $(document).ready(function(){
                $('#f').focus();
            });
            $('#f').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    $('[id$=searchId]').click();
                }
            });
            function completeSelect() {
                $('#f').focus();
            }
            /*$(document).ready(function(){
                $('#add').focus();
            });
            $('#add').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    $('[id$=btnAdd]').click();
                }
            });
            function completeSelect() {
                $('#add').focus();}*/
        </script>
    </ui:define>
</ui:composition>