<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:cbs="http://xmlns.jcp.org/jsf/composite/tags">
    <h:form id="frmImportDlg" styleClass="Container100">
        <p:outputPanel id="pnlImportDlg" styleClass="Container100">
            <p:outputPanel id="pnlImportFormDlg" styleClass="Container100">
                <p:outputPanel id="pnlTabContactIndentDlg" styleClass="ContainerIndent mg-top-3">
                    <p:messages id="msgImport" showDetail="true" globalOnly="true" showSummary="true"
                                closable="true"/>

                    <div class="Container100">
                        <div class="ContainerIndent">
                            <div class="Container33 Responsive" id="filedata">
                                <div class="Container40 Responsive50 pd-top-4">
                                    <p:outputLabel for="outputAttachFiledata"
                                                   styleClass="lb-sentinel"
                                                   value="#{lang['common.import.file.name']}"/>
                                    <p:outputLabel value="*" style="color: red"></p:outputLabel>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="outputAttachFiledata"
                                                 styleClass="outputAttachFiledata"
                                                 maxlength="100"
                                                 placeholder="#{lang['common.import.file.place.holder']}"
                                                 value="#{shopUserController.fileData}"
                                                 readonly="true"
                                    />
                                    <p:message for="outputAttachFiledata"></p:message>
                                </div>
                            </div>
                            <div class="Container33 Responsive" id="uploadFileData">
                                <div class="Container100">
                                    <p:fileUpload id="fileAttachdata"
                                                  process="@this"
                                                  label="#{lang['common.import.file.select.file']}"
                                                  update="@this, @([id$=outputAttachFiledata]),@([id$=msgImport])"
                                                  dragDropSupport="true" required="true" mode="advanced"
                                                  auto="true"
                                                  oncomplete="changeValue()"
                                                  uploadLabel=""
                                                  cancelLabel="true"
                                                  value="#{shopUserController.uploadedFile}"
                                                  fileUploadListener="#{shopUserController.fileUploadAction}">
                                    </p:fileUpload>
                                </div>
                            </div>
                            <div class="Container33 Responsive" id="pnldown">
                                <p:commandLink
                                        id="btnDownloadTemplate"
                                        value="#{lang['common.import.file.download.template']}"
                                        rendered="#{shopUserController.renderTemplateFile}"
                                        ajax="false"
                                        immediate="true"
                                        style="text-decoration: none!important;">
                                    <p:fileDownload
                                            value="#{shopUserController.downloadFileTemplate()}"/>
                                </p:commandLink>
                                <p:commandLink
                                        id="bthDownloadError"
                                        value="#{lang['common.import.file.download.result']}"
                                        rendered="#{shopUserController.renderResultFileError}"
                                        ajax="false"
                                        immediate="true"
                                        style="text-decoration: none!important;color: blue !important;">
                                    <p:fileDownload
                                            value="#{shopUserController.downloadFileResult()}"/>
                                </p:commandLink>
                            </div>
                        </div>
                    </div>
                </p:outputPanel>
            </p:outputPanel>
            <div class="Container100 TexAlCenter">
                <p:commandButton process="@form"
                                 update="@([id$=frmImportDlg]),@([id$=msgImportCustomer]),@([id$=msgImport]),@([id$=tblListFunction]),@([id$=btnDownloadTemplate]) "
                                 id="importDlgId"
                                 actionListener="#{shopUserController.importDataByExcel()}"
                                 value="#{lang['common.choose.import']}"/>
                <p:commandButton process="@this"
                                 style="margin-left: 5px"
                                 oncomplete="PF('dlgImport').hide();"
                                 id="closeId"
                                 value="#{lang['common.button.NO']}"/>
            </div>
        </p:outputPanel>
    </h:form>
    <script>
        function changeValue() {
            var x = document.getElementById('frmImportDlg:outputAttachFiledata').value;
            if(x!=null &amp;&amp; x !=""){
                document.getElementById('frmImportDlg:fileAttachdata_input').title= x;
            }else{
                document.getElementById('frmImportDlg:fileAttachdata_input').title= "Chưa chọn tập tin";
            }
        }
    </script>
</ui:composition>