<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
    <composite:attribute name="controller" shortDescription="Controller cua chuc nang su dung the nay"
                         required="false"/>
    <composite:attribute name="fullAddressDTO" shortDescription="đối tượng full address controller" required="true"/>
    <composite:attribute name="id" shortDescription="id of this component" required="true"/>
    <composite:attribute name="oncomplete" default="emptyFunction" shortDescription="oncomplete method"/>
    <composite:attribute name="required" shortDescription="Xac dinh require, defaul = false" default="true"/>
    <composite:attribute name="requiredMessage" shortDescription=""/>
    <composite:attribute name="placeholder" shortDescription=""/>
    <composite:attribute name="style" shortDescription="style of this component"/>
    <composite:attribute name="disabled" shortDescription="" default="false"/>
    <composite:attribute name="styleClass" default="areaClass" shortDescription="styleClass for this component"/>
    <composite:attribute name="methodName" shortDescription="ham nhan data Location" required="true"/>
    <composite:attribute name="readOnlyProvince" shortDescription="" required="false"/>
    <composite:attribute name="update" shortDescription="update" required="false"/>
    <composite:attribute name="isTextArea" default="true"
                         shortDescription="dinh dang hien thi default la textArea, true la textArea, false la inputText"/>
    <composite:attribute name="requireProvince" default="true"
                         shortDescription="check bat buoc nhap tinh, default la true"/>
    <composite:attribute name="requireDistrict" default="true"
                         shortDescription="check bat buoc nhap huyen, default la true"/>
    <composite:attribute name="requirePrecinct" default="true"
                         shortDescription="check bat buoc nhap xa phuong, default la true"/>
    <composite:attribute name="requireStreet" default="true"
                         shortDescription="check bat buoc nhap to thon, default la true"/>

    <composite:attribute name="readOnlyProvince" shortDescription="" default="false" required="false"/>
    <composite:attribute name="readOnlyDistrict" shortDescription="" default="false" required="false"/>
    <composite:attribute name="readOnlyPrecinct" shortDescription="" default="false" required="false"/>
    <composite:attribute name="readOnlyStreetBlock" shortDescription="" default="false" required="false"/>

    <composite:attribute name="readOnlyStreet" shortDescription="" default="false" required="false"/>
    <composite:attribute name="readOnlyHomeNumber" shortDescription="" default="false" required="false"/>
</composite:interface>
<composite:implementation>
    <script type="text/javascript">
        document.onkeypress = stopRKey;
    </script>
    <p:remoteCommand
            name="rc_#{cc.attrs.id}"
            update="@(.pnAddress#{cc.attrs.id}),@([id$=input_for_address_#{cc.attrs.id}_txt]), @([id$=input_for_address_#{cc.attrs.id}_txt2])"
            resetValues="false"
            process="@this"
            autoRun="true"
            action="#{locationTagController.initLocation(cc.attrs.id, cc.attrs.fullAddressDTO, cc.attrs.requireProvince, cc.attrs.requireDistrict, cc.attrs.requirePrecinct, cc.attrs.requireStreet)}"
            />
    <!--<p:remoteCommand name="hh#{cc.attrs.id}aa" update="@([id$=input_for_address_#{cc.attrs.id}_txt])" process="@this" immediate="true" />-->
    <p:outputPanel styleClass="Container100 pnInput#{cc.attrs.id} " style="width: 100%;position: relative;">
        <p:commandLink id="testLink#{cc.attrs.id}" styleClass="#{cc.attrs.id}btn_over_pn"
                       oncomplete="$('.inputProvince#{cc.attrs.id}').focus();" style="height: 0px;position: absolute;margin-left: 1px;" process="@this"
                       immediate="true"/>
            <p:inputText
                    value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.fullAddress}"
                    disabled="#{cc.attrs.disabled}"
                    readonly="\"
                    required="#{cc.attrs.required}"
                    id="input_for_address_#{cc.attrs.id}_txt2"
                    styleClass="#{cc.attrs.styleClass}#{cc.attrs.id}"
                    style="#{cc.attrs.style}"
                    placeholder="#{cc.attrs.placeholder}"
                    onfocus="this.blur();reload_#{cc.attrs.id}_location();"
                    requiredMessage="#{cc.attrs.requiredMessage}"
                    rendered="#{!cc.attrs.isTextArea}"
                    title="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.fullAddress}"
                    >
            </p:inputText>
            <p:inputTextarea
                    value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.fullAddress}"
                    disabled="#{cc.attrs.disabled}"
                    readonly="#{facesContext.renderResponse}"
                    required="#{cc.attrs.required}"
                    id="input_for_address_#{cc.attrs.id}_txt"
                    styleClass="#{cc.attrs.styleClass}#{cc.attrs.id}"
                    style="#{cc.attrs.style}"
                    placeholder="#{cc.attrs.placeholder}"
                    onfocus="this.blur();reload_#{cc.attrs.id}_location();"
                    requiredMessage="#{cc.attrs.requiredMessage}"
                    rendered="#{cc.attrs.isTextArea}"
                    >
            </p:inputTextarea>
    </p:outputPanel>
    <p:remoteCommand name="reload_#{cc.attrs.id}_location" process="@this"
                     action="#{locationTagController.reloadLocation(cc.attrs.id)}"
                     immediate="true" update="@([id$=pnAddress#{cc.attrs.id}])"
                     oncomplete="clickLinkByClass('#{cc.attrs.id}btn_over_pn');"/>
    <p:overlayPanel
            styleClass="#{cc.attrs.id}ovlay input-w250"
            style="background: white;"
            at="left top" my="left top"
            for="testLink#{cc.attrs.id}"
            dynamic="false"
            hideEffect="blind"
            widgetVar="widLocation#{cc.attrs.id}a"
            onShow="$(document.body).unbind('mousedown.ui-overlay')"
            >
        <!--<p:focus context="pnAddress#{cc.attrs.id}" />-->
        <p:outputPanel id="pnAddress#{cc.attrs.id}" styleClass="Container100 pnAddress#{cc.attrs.id}"
                       style="width: 300px;">
            <p:focus context="pnAddress#{cc.attrs.id}"/>
            <p:messages id="msgLocation_#{cc.attrs.id}" showSummary="false" showDetail="true" closable="true"/>
            <p:outputPanel id="pn#{cc.attrs.id}province" styleClass="ContainerIndent">
                <div class="Container40 Responsive pd-top-6 #{cc.attrs.id}province_col">
                    <p:outputLabel
                            value="#{lang['lb.location.province']}"
                            for="#{cc.attrs.id}province">
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                </div>
                <p:outputPanel styleClass="Container60 Responsive #{cc.attrs.id}province">
                    <p:outputLabel id="#{cc.attrs.id}province_hidden" style="display: none;"
                                   value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.province.label}"/>
                    <pe:keyFilter for="#{cc.attrs.id}province" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:autoComplete
                            id="#{cc.attrs.id}province"
                            disabled="#{cc.attrs.readOnlyProvince}"
                            readonly="#{cc.attrs.readOnlyProvince}"
                            inputStyleClass="inputProvince#{cc.attrs.id} mouse-out-province"
                            value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.province}"
                            completeMethod="#{locationTagController.searchProvince}"
                            var="province"
                            onfocus="this.setSelectionRange(0, this.value.length)"
                            itemLabel="#{province.label}"
                            maxlength="50"
                            cacheTimeout="2"
                            itemValue="#{province}"
                            required="false"
                            styleClass="w-79 autoCpl"
                            queryDelay="1000"
                            validatorMessage="#{lang['common.msg.location.format.province']}"
                            forceSelection="true"
                            >
                        <f:attribute name="idComponent" value="#{cc.attrs.id}"/>
                        <o:converter converterId="LocationConverter"
                                     list="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).listProvince}"/>
                        <p:ajax event="itemSelect"
                                update="@([id$=pnAddress#{cc.attrs.id}]),@([id$=pn#{cc.attrs.id}district]),@([id$=pn#{cc.attrs.id}precinct]),@([id$=pn#{cc.attrs.id}street]),@([id$=pn#{cc.attrs.id}group_Street]),@([id$=pn#{cc.attrs.id}no])"
                                listener="#{locationTagController.onProvinceChanged}"
                                process="@([id$=#{cc.attrs.id}province])"/>
                        <p:column headerText="#{lang['lb.code']}">
                            <p:outputLabel value="#{province.code}"/>
                        </p:column>
                        <p:column headerText="#{lang['lb.name']}">
                            <p:outputLabel value="#{province.name}"/>
                        </p:column>
                        <p:ajax event="query"/>
                    </p:autoComplete>
                </p:outputPanel>
            </p:outputPanel>
            <p:outputPanel id="pn#{cc.attrs.id}district" styleClass="ContainerIndent">
                <div class="Container40 Responsive pd-top-6 #{cc.attrs.id}district_col">
                    <p:outputLabel value="#{lang['lb.location.district']}" for="#{cc.attrs.id}district">
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                    <!--<p:remoteCommand name="validDistrict#{cc.attrs.id}a" action="#{locationTagController.validDistrict(cc.attrs.id)}" update="@([id$=pn#{cc.attrs.id}district]),@([id$=msgLocation_#{cc.attrs.id}])" process="@this" />-->
                    <!--<p:remoteCommand name="restoreDistrict#{cc.attrs.id}b" update="@([id$=pn#{cc.attrs.id}district]),@([id$=msgLocation_#{cc.attrs.id}])" process="@this" />-->
                </div>
                <p:outputPanel styleClass="Container60 Responsive #{cc.attrs.id}district">
                    <pe:keyFilter for="#{cc.attrs.id}district" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:outputLabel style="display: none" id="#{cc.attrs.id}district_hidden"
                                   value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.district.label}"/>
                    <p:autoComplete
                            required="false"
                            id="#{cc.attrs.id}district"
                            disabled="#{cc.attrs.readOnlyDistrict}"
                            value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.district}"
                            completeMethod="#{locationTagController.searchDistrict}"
                            var="dist"
                            onfocus="this.setSelectionRange(0, this.value.length)"
                            maxlength="50"
                            cacheTimeout="500000"
                            itemLabel="#{dist.label}"
                            itemValue="#{dist}"
                            styleClass="w-79 autoCpl district"
                            forceSelection="true"
                            >
                        <f:attribute name="idComponent" value="#{cc.attrs.id}"/>
                        <o:converter converterId="LocationConverter"
                                     list="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).listDistrict}"
                                />
                        <p:ajax event="itemSelect"
                                global="false"
                                update="@([id$=pn#{cc.attrs.id}district]),@([id$=pn#{cc.attrs.id}precinct]),@([id$=pn#{cc.attrs.id}street]),@([id$=pn#{cc.attrs.id}group_Street]),@([id$=pn#{cc.attrs.id}no])"
                                listener="#{locationTagController.onDistrictChanged}"
                                process="@([id$=#{cc.attrs.id}district])"/>
                        <p:column
                                headerText="#{lang['lb.code']}"
                                >
                            <p:outputLabel
                                    value="#{dist.code}"
                                    />
                        </p:column>
                        <p:column
                                headerText="#{lang['lb.name']}"
                                >
                            <p:outputLabel
                                    value="#{dist.name}"
                                    >
                            </p:outputLabel>
                        </p:column>
                        <p:ajax
                                event="query"
                                />
                    </p:autoComplete>
                </p:outputPanel>
            </p:outputPanel>
            <p:outputPanel id="pn#{cc.attrs.id}precinct" styleClass="ContainerIndent">
                <div class="Container40 pd-top-6 Responsive #{cc.attrs.id}precinct_col">
                    <p:outputLabel
                            value="#{lang['lb.location.precinct']}"
                            for="#{cc.attrs.id}precinct"
                            rendered="#{cc.attrs.requirePrecinct}"
                            >
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                    <p:outputLabel
                            value="#{lang['lb.location.precinct']}"
                            for="#{cc.attrs.id}precinct"
                            rendered="#{!cc.attrs.requirePrecinct}"
                            />
                    <!--<p:remoteCommand name="validPrecinct#{cc.attrs.id}a" action="#{locationTagController.validPrecinct(cc.attrs.id)}" update="@([id$=pn#{cc.attrs.id}precinct]),@([id$=msgLocation_#{cc.attrs.id}])" process="@this" />-->
                    <!--<p:remoteCommand name="restorePrecinct#{cc.attrs.id}b" update="@([id$=pn#{cc.attrs.id}precinct]),@([id$=msgLocation_#{cc.attrs.id}])" process="@this" />-->
                </div>
                <p:outputPanel styleClass="Container60 Responsive #{cc.attrs.id}precinct">
                    <pe:keyFilter for="#{cc.attrs.id}precinct" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:outputLabel style="display: none" id="#{cc.attrs.id}precinct_hidden"
                                   value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.precinct.label}"
                                   required="false"/>
                    <p:autoComplete
                            required="false"
                            id="#{cc.attrs.id}precinct"
                            disabled="#{cc.attrs.readOnlyPrecinct}"
                            value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.precinct}"
                            completeMethod="#{locationTagController.searchPrecinct}"
                            var="pre"
                            onfocus="this.setSelectionRange(0, this.value.length)"
                            maxlength="50"
                            itemLabel="#{pre.label}"
                            itemValue="#{pre}"
                            styleClass="w-79 autoCpl precinct"
                            forceSelection="true"
                            >
                        <f:attribute name="idComponent" value="#{cc.attrs.id}"/>
                        <o:converter converterId="LocationConverter"
                                     list="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).listPrecinct}"
                                />
                        <p:ajax event="itemSelect"
                                listener="#{locationTagController.onPrecinctChanged}"
                                global="false"
                                update="@([id$=pn#{cc.attrs.id}precinct]),@([id$=pn#{cc.attrs.id}street]),@([id$=pn#{cc.attrs.id}group_Street]),@([id$=pn#{cc.attrs.id}no])"
                                process="@([id$=#{cc.attrs.id}precinct]),@([id$=#{cc.attrs.id}street]),@([id$=#{cc.attrs.id}no])"/>
                        <p:column
                                headerText="#{lang['lb.code']}"
                                >
                            #{pre.code}
                        </p:column>
                        <p:column
                                headerText="#{lang['lb.name']}"
                                >
                            <p:outputLabel
                                    value="#{pre.name}"
                                    >
                            </p:outputLabel>
                        </p:column>
                        <p:ajax
                                event="query"
                                />
                    </p:autoComplete>
                </p:outputPanel>
            </p:outputPanel>
            <p:outputPanel styleClass="ContainerIndent" id="pn#{cc.attrs.id}group_Street">
                <div class="Container40 pd-top-6 Responsive #{cc.attrs.id}group_col">
                    <p:outputLabel
                            value="#{lang['lb.location.groupStreet']}"
                            for="#{cc.attrs.id}group"
                            rendered="#{cc.attrs.requireStreet}"
                            >
                        <span class="ui-outputlabel-rfi">*</span>
                    </p:outputLabel>
                    <p:outputLabel
                            value="#{lang['lb.location.groupStreet']}"
                            for="#{cc.attrs.id}group"
                            rendered="#{!cc.attrs.requireStreet}"
                            />
                    <!--<p:remoteCommand name="validGroup#{cc.attrs.id}a" action="#{locationTagController.validStreet(cc.attrs.id)}" update="@([id$=pn#{cc.attrs.id}group]),@([id$=msgLocation_#{cc.attrs.id}])" process="@this" />-->
                    <!--<p:remoteCommand name="restoreGroup#{cc.attrs.id}b" update="@([id$=pn#{cc.attrs.id}group]),@([id$=msgLocation_#{cc.attrs.id}])" process="@this" />-->
                </div>
                <p:outputPanel styleClass="Container60 Responsive #{cc.attrs.id}group" id="pn#{cc.attrs.id}group">
                    <pe:keyFilter for="#{cc.attrs.id}group" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+]/i"/>
                    <p:outputLabel style="display: none" id="#{cc.attrs.id}group_hidden"
                                   value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.streetBlock.label}"
                                   required="false"/>
                    <p:autoComplete
                            required="false"
                            id="#{cc.attrs.id}group"
                            disabled="#{cc.attrs.readOnlyStreetBlock}"
                            value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.streetBlock}"
                            completeMethod="#{locationTagController.searchStreetBlock}"
                            var="pre"
                            maxlength="50"
                            onfocus="this.setSelectionRange(0, this.value.length)"
                            itemLabel="#{pre.label}"
                            itemValue="#{pre}"
                            forceSelection="true"
                            styleClass="w-79 autoCpl streetblock"
                            >
                        <f:attribute name="idComponent" value="#{cc.attrs.id}"/>
                        <o:converter converterId="LocationConverter"
                                     list="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).listGroup}"
                                />
                        <p:ajax event="itemSelect"
                                global="false"
                                listener="#{locationTagController.onStreetBlockChanged}"
                                update="@([id$=pn#{cc.attrs.id}group_Street]),@([id$=pn#{cc.attrs.id}street]),@([id$=pn#{cc.attrs.id}no])"
                                process="@([id$=#{cc.attrs.id}group])"/>
                        <p:column
                                headerText="#{lang['lb.code']}"
                                >
                            #{pre.code}
                        </p:column>
                        <p:column
                                headerText="#{lang['lb.name']}"
                                >
                            <p:outputLabel
                                    value="#{pre.name}"
                                    >
                            </p:outputLabel>
                        </p:column>
                        <p:ajax
                                event="query"
                                />
                    </p:autoComplete>
                </p:outputPanel>
            </p:outputPanel>

            <p:outputPanel id="pn#{cc.attrs.id}street" styleClass="ContainerIndent">
                <div class="Container40 pd-top-6 Responsive">
                    <p:outputLabel
                            value="#{lang['lb.location.streetPro']}"
                            for="#{cc.attrs.id}streetPro"
                            />
                </div>
                <div class="Container60 Responsive">
                    <pe:keyFilter for="#{cc.attrs.id}streetPro" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+/\\]/i"/>
                    <p:inputText
                            id="#{cc.attrs.id}streetPro"
                            onblur="this.value=this.value.trim()"
                            maxlength="50"
                            style="width:84.3%;"
                            value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.street}"
                            validatorMessage="#{lang['common.msg.location.maxlength.street']}"
                            disabled="#{cc.attrs.readOnlyStreet}"
                            >
                        <f:validateLength maximum="50"></f:validateLength>
                    </p:inputText>
                </div>
            </p:outputPanel>
            <p:outputPanel id="pn#{cc.attrs.id}no" styleClass="ContainerIndent">
                <div class="Container40 pd-top-6 Responsive">
                    <p:outputLabel
                            value="#{lang['lb.location.apartment']}"
                            for="#{cc.attrs.id}noApartment"
                            />
                </div>
                <div class="Container60 Responsive">
                    <pe:keyFilter for="#{cc.attrs.id}noApartment" preventPaste="false"
                                  regEx="/[a-z0-9A-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀẾỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềếểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\._\-+/\\]/i"/>
                    <p:inputText
                            id="#{cc.attrs.id}noApartment"
                            onblur="this.value=this.value.trim()"
                            maxlength="30"
                            style="width:84.3%;"
                            value="#{locationTagController.getObjectCurrentContainer(cc.attrs.id).fullAddressDTO.number}"
                            validatorMessage="#{lang['common.msg.location.maxlength.number']}"
                            disabled="#{cc.attrs.readOnlyHomeNumber}"
                            >
                        <f:validateLength maximum="50"></f:validateLength>
                    </p:inputText>
                </div>
            </p:outputPanel>

            <div class="ContainerIndent">
                <div class="Container100" style="text-align: center">
                    <p:commandButton
                            value="#{lang['common.select']}"
                            disabled="#{cc.attrs.disabled}"
                            icon="ui-icon-check"
                            action="#{locationTagController.validateLocation(cc.attrs.id)}"
                            process="@this,@([id$=#{cc.attrs.id}noApartment]),@([id$=#{cc.attrs.id}streetPro])"
                            ajax="true"
                            resetValues="true"
                            update="@([id$=msgLocation_#{cc.attrs.id}])"
                            oncomplete="if(!args.validationFailed) {sucess#{cc.attrs.id}msg();#{cc.attrs.oncomplete}();} "
                            />
                    <p:remoteCommand
                            update="@([id$=input_for_address_#{cc.attrs.id}_txt]),@([id$=input_for_address_#{cc.attrs.id}_txt2]),#{cc.attrs.update}"
                            process="@this" name="sucess#{cc.attrs.id}msg"
                            oncomplete="PF('widLocation#{cc.attrs.id}a').hide();"
                            actionListener="#{locationTagController.onClick(cc.attrs.controller,cc.attrs.methodName, cc.attrs.id)}"/>

                </div>
            </div>
        </p:outputPanel>
    </p:overlayPanel>
</composite:implementation>
</html>

