<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        >
    <cc:interface>
        <cc:attribute name="titleLink" required="true" default="Link sang CC"/>
        <cc:attribute name="subId" default="0" shortDescription="subID phai co"/>
        <cc:attribute name="typeUrl" default="1" shortDescription="voi type = 1 thi di chuyen sang link cc, mac dinh = 1"/>
        <cc:attribute name="styleClass" shortDescription="style class"/>
        <cc:attribute name="style" shortDescription="style "/>
    </cc:interface>
    <cc:implementation>
        <p:commandLink value="#{cc.attrs.titleLink}" immediate="true" ajax="false" styleClass="#{cc.attrs.styleClass}" style="#{cc.attrs.style}"
                       actionListener="#{linkExtendTagController.doSendParam(cc.attrs.subId, cc.attrs.typeUrl)}" process="@this" target="_blank">
        </p:commandLink>
    </cc:implementation>
</ui:composition>