<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:fw="http://viettel.cbs.com/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Error</title>
</h:head>
<h:body>
    <h:form style="text-align:center">
        <p style="color:red">Bạn không có quyền thực hiện chức năng này</p>
        <p>
            <a href="#{request.contextPath}/home">Quay về trang chủ</a>
        </p>
    </h:form>
</h:body>
</html>

