<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <style>
        .ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left ui-confirmdialog-yes{
            margin: 0px 0px 0px 5px !important;
        }
    </style>
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_ACTION']}</ui:define>
    <ui:define name="content">
        <h:form id="form" styleClass="Container100" >
            <p:outputPanel id="xxx" styleClass="Container100">
                <!--form tìm kiếm-->
                <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages for="msg" showDetail="false" autoUpdate="true" globalOnly="true" showSummary="true" closable="true"/>
                    <cbs:panel classForToggle="pnlReportSearch"
                               titleHeader="#{lang['webchain.action.infor.search']}"/>
                    <div  id="formSearch" tabindex="1" class="Container100 Responsive100">
                        <div class="ContainerIndent">
                            <!--Mã action-->
                            <div class="Container33 Responsive" id="pnlDocCode">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.action.lb.code']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="hmid" maxlength="50"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{actionController.inputLazyActionSearch.code}"
                                                 title="#{actionController.inputLazyActionSearch.code}">
                                    </p:inputText>
                                </div>
                            </div>
                            <!--Loại action-->
                            <div class="Container40 Responsive" id="pnlDocCode" style="margin-left: 23%">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.action.lb.type']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:selectOneMenu id="type"
                                                     value="#{actionController.inputLazyActionSearch.type}">
                                        <f:selectItem itemLabel="#{lang['webchain.action.value']}"
                                                      itemValue="#{null}"
                                                      escape="true"/>
                                        <f:selectItems
                                                value="#{actionController.listActionType}"
                                                var="status"
                                                itemLabel="#{status.code}" itemValue="#{status.value}"/>
                                        <p:ajax event="change" oncomplete="completeSelect();" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>

                        <div class="ContainerIndent">
                            <!-- Tên action-->
                            <div class="Container33 Responsive" id="pnlDocCode">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.action.lb.name']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="hnname" maxlength="200"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{actionController.inputLazyActionSearch.name}"
                                                 title="#{actionController.inputLazyActionSearch.name}">
                                    </p:inputText>
                                </div>
                            </div>

                            <!--Trạng thái-->
                            <div class="Container40 Responsive" id="pnlInvoice" style="margin-left: 23%">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.action.lb.status']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:selectOneMenu id="status"
                                                     value="#{actionController.inputLazyActionSearch.status}">
                                        <f:selectItems
                                                value="#{actionController.listStatus}"
                                                var="status"
                                                itemLabel="#{status.name}" itemValue="#{status.value}"/>
                                        <p:ajax event="change" oncomplete="completeSelect();" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>
                        <div class="Container100 " style="padding-top: 20px;padding-bottom: 20px;padding-left: 40%">
                            <!--Tìm kiếm-->
                            <p:commandButton process="@this, @([id$=pnlReportLabel])"
                                             id="searchId"
                                             style="margin-right: 5px"
                                             update="@([id$=tblAction])"
                                             value="#{lang['common.button.search']} "
                                             onclick="PF('tblAction').getPaginator().setPage(0);"
                                             actionListener="#{actionController.doSearch}"

                            />

                            <!--Them moi-->
                            <p:commandButton widgetVar="AddBtn" id="AddBtn"
                                             value="#{lang['common.button.addnew']}"
                                             style="margin-left:5px"
                                             actionListener="#{actionController.prepareToShowAdd}"
                                             process="@this,@form"
                                             update="@([id$=dlgActions])"
                                             oncomplete="PF('dlgActions').show();"
                            />
                        </div>
                    </div>
                </p:outputPanel>

                <!--Kết quả tìm kiếm-->
                <p:outputPanel id="pnlResultAction" styleClass="ContainerIndent mg-top-3">
                        <div class="pnlDebitRequestList Container100">
                            <cbs:panel classForToggle="pnlTaskList" titleHeader="#{lang['common.lb.search.result']}"/>

                            <div class="pnlDebitRequestList Container100">
                                <p:outputPanel styleClass="Container100">
                                    <p:dataTable id="tblAction"
                                                 widgetVar="tblAction"
                                                 styleClass="tblAction"
                                                 rows="#{lang['common.paging.rows.default']}"
                                                 paginator="#{lang['common.paging.paginator']}"
                                                 var="action"
                                                 rowIndexVar="rowIndex"
                                                 value="#{actionController.actionDTOS}"
                                                 rowKey="#{action.actionId}"
                                                 lazy="true"
                                                 paginatorAlwaysVisible="true"
                                                 rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                                 paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                                 paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                                 currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                                 emptyMessage="#{lang['common.search.not.record.found']}"
                                                 scrollable="true" scrollWidth="120%"
                                    >

                                        <!--Số thứ tự-->
                                        <p:column style="width: 5%;" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['lb.STT']}"
                                                              title="#{lang['lb.STT']}"/>
                                            </f:facet>
                                            <h:outputText value="#{rowIndex+1}"/>
                                        </p:column>

                                        <!--Thao tác-->
                                        <p:column style="width: 7%" styleClass="TexAlCenter">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['common.label.action']}"
                                                              title="#{lang['common.label.action']}"/>
                                            </f:facet>
                                            <!--Sửa-->
                                            <p:commandLink title="#{lang['common.icon.update']}"
                                                           style="margin-left: 10px;"
                                                           process="@this"
                                                           resetValues="true"
                                                           styleClass="fa icon-edit Fs16 blue"
                                                           update="@([id$=dlgActions])"
                                                           actionListener="#{actionController.prepareToShowEdit(action)}"
                                                           oncomplete="if(!args.validationFailed){PF('dlgActions').show()}"/>

                                            <!--Xóa-->
                                            <p:commandLink
                                                    disabled="#{action.status == 0 ? true : false}"
                                                    title="#{lang['common.button.delete']}"
                                                    onclick="PF('tblAction').getPaginator().setPage(this);"
                                                    update="@([id$=tblAction]),@([id$=msgTableResult])"
                                                    process="@this, @([id$=tblAction])"
                                                    resetValues="true" style="margin-left: 3px;"
                                                    actionListener="#{actionController.doDelete(action)}"
                                                    styleClass="fa icon-trash Fs16 blue">
                                                <p:confirm
                                                        header="#{lang['common.confirm']}"
                                                        message="#{lang['webchain.action.comfirm.delete']}"
                                                        icon="ui-icon-alert"
                                                />
                                            </p:commandLink>
                                        </p:column>

                                        <!--Mã Action-->
                                        <p:column style="width: 23%; text-align: center" >
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['webchain.action.head.table.code']}"
                                                        title="#{lang['webchain.action.head.table.code']}"/>
                                            </f:facet>
                                            <p:outputLabel style="float: left;text-align: left"
                                                           title="#{action.code}"
                                                           value="#{action.code}"/>
                                        </p:column >

                                        <!--Tên Action-->
                                        <p:column style="width: 16%;text-align: center">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['webchain.action.head.table.name']}"
                                                              title="#{lang['webchain.action.head.table.name']}"/>
                                            </f:facet>
                                            <p:outputLabel title="#{action.name}"
                                                           value="#{action.name}"
                                                           style="float: left ; text-align: left; !important;"
                                            />
                                        </p:column>

                                        <!--Loại Action -->
                                        <p:column style="width: 19%;text-align: center">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['webchain.action.head.table.type']}"
                                                        title="#{lang['webchain.action.head.table.type']}"/>
                                            </f:facet>
                                            <p:outputLabel
                                                    style="float: left"
                                                    title="#{action.type}"
                                                    value="#{action.type}"
                                            />
                                        </p:column>

                                        <!--Trạng thái-->
                                        <p:column style="width: 8%;text-align: center">
                                            <f:facet name="header">
                                                <h:outputText value="#{lang['webchain.action.head.table.status']}"
                                                              title="#{lang['webchain.action.head.table.status']}"/>
                                            </f:facet>
                                            <p:outputLabel style="float: left; text-align: left" rendered="#{action.status == 0}" value="#{lang['webchain.catalog.status0']}"/>
                                            <p:outputLabel style="float: left; text-align: left" rendered="#{action.status == 1}" value="#{lang['webchain.catalog.status1']}"/>

                                        </p:column>

                                        <!--Mổ tả-->
                                        <p:column style="width: 20%; text-align: center">
                                            <f:facet name="header">
                                                <h:outputText
                                                        value="#{lang['webchain.action.head.table.description']}"
                                                        title="#{lang['webchain.action.head.table.description']}"/>
                                            </f:facet>
                                            <p:outputLabel title="#{action.description}"
                                                           value="#{action.description}"
                                                           style="float: left;text-align: left"
                                            />
                                        </p:column>
                                    </p:dataTable>
                                </p:outputPanel>
                            </div>
                        </div>
                    </p:outputPanel>
            </p:outputPanel>
        </h:form>
        <p:dialog id="dlgActions"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgActions"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 13%;"
                  maximizable="false"
                  resizable="false"
                  header="#{actionController.actionDTO.actionId ==null ? lang['webchain.action.infor.add'] : lang['webchain.action.infor.edit']}"
                  width="80%">
            <ui:include src="dlgActions.xhtml"/>
        </p:dialog>
        <script>
            $(document).ready(function(){
                $('#formSearch').focus();
            });
            $('#formSearch').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    if($('[id$=AddBtn]').is(":focus")){
                        return;
                    }
                    $('[id$=searchId]').click();
                }
            });
            $('#j_idt49').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    if($('[id$=j_idt52]').is(":focus")){
                        $('[id$=codeAdd]').focus();
                    }
                }
            });

            function completeSelect() {
                $('#formSearch').focus();
            }
        </script>
    </ui:define>
</ui:composition>
