<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <style>
    </style>
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <ui:define name="title"> #{lang['changePassword']}</ui:define>
    <ui:define name="content">
        <div class="ui-g"></div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <h:form id="frmChangePw" styleClass="Container100" style="width: 400px">
                <p:remoteCommand name="redirectLogin" process="@this" actionListener="#{chainUserController.showMessage}" update="@([id$=msgForm])"/>

                <p:outputPanel id="changePassword" styleClass="Container100">
                    <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">

                        <cbs:panel classForToggle="pnlReportSearch"
                                   titleHeader="#{lang['dlg.pw.alterPassword']}"/>
                        <div class="Container100 Responsive100">
                            <hr></hr>
                            <p:messages id="msgForm" showDetail="true" showSummary="true"
                                        closable="true"/>
                            <!-- <h:outputText style="color: red;margin-top: 10px; margin-left: 10px" rendered="#{not empty chainUserControler.msgError}"
                                           value="#{chainUserControler.msgError}"/>-->
                            <!--Ten dang nhap -->
                            <p:outputPanel class="ContainerIndent" style="text-align: justify">
                                <!-- rendered="#{chainUserControler.checkUser()}">-->
                                <div class="Container90 Responsive" id="pnlDocCode">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['dlg.pw.nameLogin']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:inputText id="nameLogin" maxlength="150" required="true" disabled="true"
                                                     onchange="this.value=this.value.trim()"
                                                     value="#{chainUserController.userName}"
                                                     title="#{chainUserController.userName}">
                                        </p:inputText>
                                    </div>
                                </div>
                            </p:outputPanel>

                            <!-- Mat khau cu -->
                            <div class="ContainerIndent" style="text-align: justify">
                                <div class="Container90 Responsive">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['dlg.pw.oldPassword']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:password id="pwOld"
                                                    onchange="this.value=this.value.trim()"
                                                    value="#{chainUserController.oldPassword}"
                                                    title="#{chainUserController.oldPassword}"
                                        >
                                        </p:password>
                                        <p:message for="pwOld" id="messPwOld"/>
                                    </div>
                                </div>
                            </div>

                            <!-- Mat khau moi -->
                            <div class="ContainerIndent" style="text-align: justify">
                                <div class="Container90 Responsive" id="pnlDocCode">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['dlg.pw.newPassword']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:password id="pwNew"
                                                    onchange="this.value=this.value.trim()"
                                                    value="#{chainUserController.newPassword}"
                                                    title="#{chainUserController.newPassword}"
                                                    feedback="true"
                                                    requiredMessage=""
                                                    validatorMessage="Mật khẩu phải chứa 8 đến 20 kí tự với ít nhất 1 kí tự in hoa, 1 kí tự số, 1 kí tự đặc biệt."
                                        />
                                        <!--<f:validateRegex validatorMessage="Mật khẩu phải chứa 8 đến 20 kí tự với ít nhất 1 kí tự in hoa, 1 kí tự số, 1 kí tự đặc biệt."-->
                                        <!--pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})"/>-->
                                        <!--<p:ajax event="change" update="messPwNew"-->
                                        <!--process="@this"></p:ajax>-->
                                        <!--</p:password>-->
                                        <p:message for="pwNew" id="messPwNew"/>
                                    </div>
                                </div>
                            </div>

                            <!-- Go lai mat khau -->
                            <div class="ContainerIndent" style="text-align: justify">
                                <div class="Container90 Responsive" id="pnlDocCode">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['dlg.pw.againPassWord']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:password id="pwRepeat"
                                                    onchange="this.value=this.value.trim()"
                                                    value="#{chainUserController.typeAgainPassword}"
                                                    title="#{chainUserController.typeAgainPassword}"
                                                    feedback="true"
                                        >
                                            <!--<f:validateRegex  validatorMessage="Mật khẩu phải chứa 8 đến 20 kí tự với ít nhất 1 kí tự in hoa, 1 kí tự số, 1 kí tự đặc biệt."-->
                                            <!--pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})"/>-->
                                            <!--<p:ajax event="change" update="messPwNew"-->
                                            <!--process="@this"></p:ajax>-->

                                        </p:password>
                                        <p:message for="pwRepeat" id="messPwRepeat"/>
                                    </div>
                                </div>
                            </div>

                            <!-- ReCaptcha-->
                            <!--        <div class="g-recaptcha" style="margin-left: 40px;margin-top: 30px">
                                        <p:messages showDetail="true"/>
                                        <p:captcha label="Captcha"/>
                                    </div>-->


                            <!--Image captcha-->
                            <p:outputPanel style="text-align: center;margin-top: 15px;margin-bottom: -15px">
                                <p:graphicImage id="imgCaptcha" value="#{chainUserController.imageUrl}" height="40px"
                                                width="100px"/>
                                <p:commandLink
                                        process="@this"
                                        update="@([id$=imgCaptcha])">
                                    <p:graphicImage library="images"
                                                    value="#{resource['images:/reload.png']}" height="35px"
                                                    style="margin-bottom: 3px"/>
                                </p:commandLink>
                            </p:outputPanel>

                            <!-- Mã xác nhận -->
                            <p:outputPanel class="ContainerIndent" style="text-align: justify">
                                <div class="Container90 Responsive" id="pnlDocCode">
                                    <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                        <p:outputLabel styleClass="lb-sentinel"
                                                       value="#{lang['reset.pass.code.confirm']}"/>
                                        <p:outputLabel value="*" style="color: red"/>
                                    </div>
                                    <div class="Container60 Responsive50 ui-fluid ui-relative">
                                        <p:inputText id="confirmCodeReset" maxlength="150"
                                                     onchange="this.value=this.value.trim()"
                                                     value="#{chainUserController.captcha}">
                                        </p:inputText>
                                    </div>
                                </div>
                            </p:outputPanel>
                            <!--button-->
                            <div class="Container100 ">
                                <!-- Đổi mật khẩu -->
                                <p:commandButton id="btnChangePassword"
                                                 process="@this, @([id$=changePassword])"
                                                 value="#{lang['dlg.pw.changePassword']}"
                                                 style="margin-left:110px;margin-top: 20px;margin-bottom: 15px"
                                                 actionListener="#{chainUserController.changePassword}"
                                                 update="@this,@([id$=frmChangePw])"
                                />
                                <!--Đóng-->
                                <p:commandButton
                                        style="margin-left:5px;margin-top: 20px;margin-bottom: 15px"
                                        id="btnClose"
                                        action="home.xhtml?faces-redirect=true"
                                        value="#{lang['dlg.pw.close']}">
                                </p:commandButton>
                            </div>
                            <!--End button-->
                        </div>

                    </p:outputPanel>

                </p:outputPanel>
            </h:form>
        </div>

        <script>
            $(document).ready(function () {
                redirectLogin();
            })
        </script>


    </ui:define>
</ui:composition>
