<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cc="http://java.sun.com/jsf/composite"
        xmlns:of="http://omnifaces.org/functions"
>
    <cc:interface>
        <cc:attribute name="idComponent" required="true"/>
        <cc:attribute name="contractIdList" required="true"
                      shortDescription="Danh sach contract id, cach nhau boi dau ','"/>
        <cc:attribute name="hotCharge" default="false" shortDescription="Co tinh cuoc nong hay khong"/>
        <cc:attribute name="controller" default="" shortDescription="Controller"/>
        <cc:attribute name="renderMsg" default="true"
                      shortDescription="Co dung msg mac dinh cua tag hay khong, neu khong thi trong thuoc tinh update phai co id cua msg"/>
        <cc:attribute name="methodName" default="" shortDescription="Ten method goi khi click thanh toan"/>
        <cc:attribute name="update" default="" shortDescription="Vung update sau khi click thanh toan"/>
        <cc:attribute name="value" default="" shortDescription="Doi tuong hung ket qua thanh toan"/>
        <cc:attribute name="name" required="true"
                      shortDescription="Ten cua component, luu y cac component co xai chung name thi ten phai khac nhau"/>
        <cc:attribute name="oncomplete" default="emptyFunction()"
                      shortDescription="remote command chay sau khi click thanh toan"/>
        <cc:attribute name="viewSubInfo" default="true"
                      shortDescription="Hien thi cong no theo thue bao cua hop dong"/>
        <cc:attribute name="width" default="100%"
                      shortDescription="Do rong cua div"/>
        <cc:attribute name="displayZeroDebtSub" default="true"
                      shortDescription="Co hien thi ca nhung sub khong co no hay khong"/>
        <cc:attribute name="displayIsdns"
                      shortDescription="Hien thi cac thue bao duoc hop dong thanh toan"/>
        <cc:attribute name="renderButton" default="true"
                      shortDescription="Hien thi cac thue bao duoc hop dong thanh toan"/>
        <cc:attribute name="listSourceAccount" default=""
                      shortDescription="Danh sach cac account_id cua khach hang chuyen nhuong"/>
        <cc:attribute name="listDestAccount" default=""
                      shortDescription="Danh sach cac account_id cua khach hang nhan chuyen nhuong"/>
        <cc:attribute name="dialogAppendTo" required="true"
                      shortDescription="append dialog vao vung nao"/>
        <cc:attribute name="width" default="100%"
                      shortDescription="Do rong cua div"/>
        <cc:attribute name="valueButtonPayment"
                      shortDescription="tieu de nut thanh toan"/>
    </cc:interface>
    <cc:implementation>
        <f:subview id="frmPaymentDialog">
            <style type="text/css">
                .preformatted {
                    white-space: pre-wrap;
                }

                .currency .pe-inputNumber {
                    width: 90% !important;
                    text-align: right !important;
                    background-color: #fdf6e3 !important;
                    color: red !important;
                }

                .ui-column-title {
                    white-space: nowrap;
                }
            </style>
            <p:remoteCommand name="#{cc.attrs.name}" process="@this" resetValues="true"
                             oncomplete="focusButton()"
                             action="#{paymentController.buildPaymentTree}"
                             update="pnlMemberPayment">
                <f:setPropertyActionListener value="#{cc.attrs.contractIdList}"
                                             target="#{paymentController.inputContractIdList}"/>
                <f:setPropertyActionListener value="#{cc.attrs.hotCharge}" target="#{paymentController.hotCharge}"/>
                <f:setPropertyActionListener value="#{cc.attrs.viewSubInfo}" target="#{paymentController.viewSubInfo}"/>
                <f:setPropertyActionListener value="#{cc.attrs.controller}" target="#{paymentController.controller}"/>
                <f:setPropertyActionListener value="#{cc.attrs.methodName}" target="#{paymentController.methodName}"/>
                <f:setPropertyActionListener value="#{cc.attrs.value}" target="#{paymentController.value}"/>
                <f:setPropertyActionListener value="#{cc.attrs.displayZeroDebtSub}"
                                             target="#{paymentController.displayZeroDebtSub}"/>
                <f:setPropertyActionListener value="#{cc.attrs.displayIsdns}"
                                             target="#{paymentController.displayIsdns}"/>
                <f:setPropertyActionListener value="#{cc.attrs.update}"
                                             target="#{paymentController.updateArea}"/>
                <f:setPropertyActionListener value="#{cc.attrs.listSourceAccount}"
                                             target="#{paymentController.listSourceAccount}"/>
                <f:setPropertyActionListener value="#{cc.attrs.listDestAccount}"
                                             target="#{paymentController.listDestAccount}"/>
            </p:remoteCommand>

            <p:remoteCommand name="openDialog#{cc.attrs.name}" process="@none"
                             update="@([id$=dlgPaymentOriComfirm#{cc.attrs.idComponent}])"
                             oncomplete="PF('dlgPaymentOriComfirm#{cc.attrs.idComponent}').show();"/>
            <p:remoteCommand name="updateIfFail#{cc.attrs.name}" action="#{paymentController.preConfirmPayAmount}"
                             process="@this" update="#{cc.attrs.update}" oncomplete="retryFcAmount()"/>
            <p:remoteCommand name="retryFcAmount" process="@this" update="@([id$=tblPayment])"
                             oncomplete="focusButton()"/>
            <p:outputPanel id="pnlMemberPayment" style="width: #{cc.attrs.width}">
                <p:outputPanel id="msgPaymentDlg">
                    <div class="Container100">
                        <p:messages rendered="#{cc.attrs.renderMsg}" closable="true" showDetail="true"
                                    showSummary="false"/>
                    </div>
                </p:outputPanel>

                <p:outputPanel styleClass="Container100" id="panelBankPaymentDialog">
                    <p:outputPanel styleClass="ContainerIndent" rendered="#{paymentController.renderBank}">
                        <div class="Container33 Responsive">
                            <div class="Container40 Responsive50">
                                <p:outputLabel for="cbxBankplusId" value="#{lang['sale.retail.titleBank']}" styleClass="lb-sentinel"/>
                            </div>
                            <div class="Container60 Responsive50 ui-fluid">
                                <p:selectOneMenu id="cbxBankplusId" value="#{paymentController.codeBankPlus}"
                                                 syncTooltip="true" requiredMessage="#{lang['msg.please.choose.a.bank']}"
                                                 required="true">
                                    <f:selectItem itemLabel="#{lang['common.choose.value']}" itemValue=""
                                                  itemDescription="#{lang['common.choose.value']}"/>
                                    <f:selectItems value="#{paymentController.listBank}"
                                                   var="bank"
                                                   itemLabel="#{bank.value} - #{bank.name}"
                                                   itemDescription="#{bank.value} - #{bank.name}"
                                                   itemValue="#{bank.value}"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                    </p:outputPanel>
                </p:outputPanel>

                <div class="Container100 TexAlCenter">
                    <p:dataTable id="tblPayment"
                                 rows="#{lang['common.paging.rows.default']}"
                                 value="#{paymentController.debitList}" var="payment"
                                 emptyMessage="#{lang['no.debt.account']}">
                        <p:column style="width:25px">
                            <p:rowToggler/>
                        </p:column>
                        <p:column style="width: 15%" priority="2">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.contract.no']}"/>
                            </f:facet>
                            <div class="TexAlCenter break-word">
                                <p:commandLink value="#{payment.contractNo}"
                                               process="@this" id="lblContractNo"
                                               update="@([id$=dlgAnalyzePaymentSub])"
                                               title="#{not empty paymentController.displayIsdns ?
                                               of:format2(lang['payment.for.sub'], payment.contractNo, payment.isdnsOfAccountId) :
                                               of:format1(lang['lb.charge.sub.detail'], payment.contractNo)}"
                                               oncomplete="PF('dlgAnalyzePaymentSub#{cc.attrs.idComponent}').show()"
                                               action="#{paymentController.viewAnalyzePaymentSub(payment)}"
                                               rendered="#{paymentController.viewSubInfo}"/>
                                <h:outputText value="#{payment.contractNo}"
                                              title="#{not empty paymentController.displayIsdns ?
                                               of:format2(lang['payment.for.sub'], payment.contractNo, payment.isdnsOfAccountId) :
                                               of:format1(lang['lb.charge.sub.detail'], payment.contractNo)}"
                                              rendered="#{!paymentController.viewSubInfo}"
                                              styleClass="lb-sentinel-bold"/>
                            </div>
                            <div class="TexAlCenter break-word">
                                <p:outputLabel value="(#{payment.isdnsOfAccountId})"
                                               rendered="#{not empty cc.attrs.displayIsdns and payment.contractDebit}"/>
                            </div>
                            <div class="TexAlCenter break-word">
                                <p:outputLabel value="(#{payment.description})" styleClass="preformatted"
                                               rendered="#{not empty payment.description}"/>
                            </div>
                        </p:column>
                        <!--Cuoc nong-->
                        <p:column rendered="#{paymentController.hotCharge}"
                                  styleClass="currencywidth TexAlRight" priority="5">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.hot.charge']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.hotCharge}"
                                          styleClass="text-sentinel-bold"
                                          id="#{cc.attrs.idComponent}hotCharge"
                                          converter="currencyFormat"/>
                            <p:commandLink styleClass="fa icon-chart" process="@this"
                                           action="#{paymentController.prepareContractId(payment)}"
                                           oncomplete="PF('dlgHotChargeInfo#{cc.attrs.idComponent}').show()"
                                           update="@([id$=dlgHotChargeInfo])"
                                           title="#{lang['common.summarize.hot.charge']}"/>

                            <p:outputLabel value="(#{lang['common.summarize.hot.charge']})"/>
                        </p:column>
                        <!--No dau ky-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.total.charge']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.amount}"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--No truoc-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.charge.pre']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.priorDebit}"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--No phat sinh-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.additional.debt']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.amountDebit}"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--DC+KM-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText styleClass="lb-sentinel-bold"
                                              value="#{lang['lb.payment.adjust.promo.short']}"
                                              title="#{lang['lb.payment.adjust.promo']}"/>
                            </f:facet>
                            <h:outputText value="#{payment.adjustPromotion}"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat" id="#{cc.attrs.idComponent}promotion"/>
                            <h:outputText styleClass="icon-info-circled green"
                                          title="#{paymentController.getAdjustPromoTitle(payment)}"/>
                        </p:column>
                        <!--Da thanh toan-->
                        <p:column styleClass="currencywidth TexAlRight" priority="3">
                            <f:facet name="header">
                                <h:outputText title="#{lang['lb.payment']}" value="#{lang['lb.payment.short']}"
                                              styleClass="lb-sentinel-bold"/>
                            </f:facet>
                            <h:outputText value="#{payment.calcTotalPaymentAmount()}"
                                          styleClass="lb-sentinel-bold"
                                          title="#{paymentController.getPaidAmountToolTip(payment.paymentAmount,payment.contractRemain)}"
                                          converter="currencyFormat"/>
                            <h:outputText styleClass="icon-info-circled green"
                                          title="#{paymentController.getPaidAmountToolTip(payment.paymentAmount,payment.contractRemain)}"/>
                        </p:column>
                        <!--Phai thanh toan-->
                        <p:column styleClass="currencywidth TexAlRight" priority="1">
                            <f:facet name="header">
                                <h:outputText title="#{lang['lb.payment.must']}"
                                              value="#{lang['lb.payment.must.short']}"
                                              styleClass="lb-sentinel-bold"/>
                            </f:facet>
                            <h:outputText value="#{payment.needAmount}"
                                          id="#{cc.attrs.idComponent}needAmount"
                                          styleClass="lb-sentinel-bold"
                                          converter="currencyFormat"/>
                        </p:column>
                        <!--Nhap tien thanh toan-->
                        <p:column styleClass="currencywidth TexAlRight" priority="1">
                            <f:facet name="header">
                                <h:outputText title="#{lang['lb.money.paid']}"
                                              value="#{lang['lb.money.paid.short']}"
                                              styleClass="lb-sentinel-bold"/>
                            </f:facet>
                            <h:panelGroup styleClass="Fright">
                                <pe:inputNumber id="#{cc.attrs.idComponent}pay"
                                                styleClass="txtAmount currency"
                                                widgetVar="txtAmount"
                                                minValue="0" maxValue="9999999999"
                                                decimalSeparator="#{lang['common.currency.decimalSeparator']}"
                                                thousandSeparator="#{lang['common.currency.thousandSeparator']}"
                                                converterMessage="#{lang['common.sale.payment.amount']}"
                                                value="#{payment.payAmount}" maxlength="10">
                                    <p:ajax event="change" process="@this"
                                            listener="#{paymentController.changePaymentAmount(payment)}"
                                            update="@([id$=#{cc.attrs.idComponent}rowex]), @([id$=#{cc.attrs.idComponent}txtTotalDebt]), @([id$=txtPayAmount])"/>
                                </pe:inputNumber>
                            </h:panelGroup>
                        </p:column>

                        <p:rowExpansion>
                            <p:outputPanel id="#{cc.attrs.idComponent}rowex">
                                <h:outputText rendered="#{empty payment.invoiceList}"
                                              styleClass="lb-sentinel-bold"
                                              value="#{lang['payment.no.invoice.for.account']}"/>
                                <p:dataTable rendered="#{not empty payment.invoiceList}" value="#{payment.invoiceList}"
                                             var="invoice">
                                    <p:column styleClass="TexAlLeft">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['contract.invoice.number']}"/>
                                        </f:facet>

                                        <div>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{invoice.invoiceNo}" title="#{invoice.invoiceNo}"
                                                          rendered="#{!invoice.remainInvoice}"/>
                                            <p:commandLink
                                                    rendered="#{invoice.remainInvoice and not empty payment.isdnList}"
                                                    value="#{invoice.invoiceNo}"
                                                    process="@this"
                                                    title="#{lang['payment.reamin.chooseSubscriber']}"
                                                    update="@([id$=dlgSelectIsdnRemain#{cc.attrs.idComponent}])"
                                                    action="#{paymentController.selectIsdnRemainForAccount(payment)}"
                                                    oncomplete="if(!args.validationFailed){PF('dlgSelectIsdnRemain#{cc.attrs.idComponent}').show()}"
                                                    id="btnChooseIsdnRemain"/>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          rendered="#{invoice.remainInvoice and empty payment.isdnList}"
                                                          value="#{invoice.invoiceNo}" title="#{invoice.invoiceNo}"/>
                                        </div>
                                        <div>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="(#{lang['payment.invoice.adjust']})"
                                                          rendered="#{invoice.adjustInvoice}"
                                                          title="(#{lang['payment.invoice.adjust']})"/>
                                        </div>
                                        <p:outputPanel id="divIsdnCharge" rendered="#{invoice.remainInvoice}">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['payment.info.selectRemainSub']}"
                                                          rendered="#{invoice.remainInvoice and empty payment.isdnCharge and not empty payment.isdnList}"/>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['payment.info.contractNoSub']}"
                                                          rendered="#{invoice.remainInvoice and empty payment.isdnCharge and empty payment.isdnList}"/>
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{of:format1(lang['payment.info.remainSub'], payment.isdnCharge)}"
                                                          rendered="#{invoice.remainInvoice and not empty payment.isdnCharge}"/>
                                        </p:outputPanel>
                                    </p:column>
                                    <!--Ky cuoc-->
                                    <p:column styleClass="TexAlLeft">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['contract.cycle']}"/>
                                        </f:facet>
                                        <h:outputText styleClass="lb-sentinel-bold" value="#{invoice.billCycle}"
                                                      title="#{invoice.billCycle}">
                                            <f:convertDateTime type="date" pattern="#{lang['common.datetime.format']}"/>
                                        </h:outputText>
                                    </p:column>
                                    <!--Khong thue-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="5">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.no.tax']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.amountNotTax}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Co thue-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="5">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.with.tax']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.amountTax}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Thue-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.tax']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.tax}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Tong tien-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold" value="#{lang['lb.total']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.amount}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Phai tt-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.payment.must.short']}"
                                                          title="#{lang['lb.payment.must']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.needAmount}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                    <!--Tien tt-->
                                    <p:column styleClass="currencywidth TexAlRight" priority="6">
                                        <f:facet name="header">
                                            <h:outputText styleClass="lb-sentinel-bold"
                                                          value="#{lang['lb.money.payment.short']}"
                                                          title="#{lang['lb.additional.payment']}"/>
                                        </f:facet>
                                        <h:outputText value="#{invoice.paymentAmount}"
                                                      styleClass="lb-sentinel-bold"
                                                      converter="currencyFormat"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:rowExpansion>

                        <f:facet name="footer">
                            <div class="TexAlRight">
                                <p:outputLabel value="#{lang['payment.totalPayment']} "
                                               styleClass="text-bold"/>
                                <h:outputText value="#{paymentController.totalDebt}"
                                              style="margin-right: 5px"
                                              id="#{cc.attrs.idComponent}txtTotalDebt"
                                              styleClass="textImportant" converter="currencyFormat"/>
                            </div>
                        </f:facet>
                    </p:dataTable>
                </div>
                <div class="Container100 TexAlCenter" style="margin-top: 10px;margin-bottom: 8px;">
                    <p:outputPanel rendered="#{cc.attrs.renderButton}">
                        <p:commandButton
                                value="#{empty cc.attrs.valueButtonPayment ? lang['group.payment'] : cc.attrs.valueButtonPayment}"
                                id="btnPayment" disabled="#{paymentController.disablePayButton}"
                                action="#{paymentController.preConfirmPayAmount}"
                                oncomplete="if(!args.validationFailed){openDialog#{cc.attrs.name}()}else{updateIfFail#{cc.attrs.name}()}"
                                process="@this, @([id$=tblPayment]),@([id$=panelBankPaymentDialog])"/>
                        <p:commandButton value="#{lang['group.print.receipt']}"
                                         id="btnPrintReceipt" process="@this"
                                         action="#{paymentController.prePrintReceipt}"
                                         disabled="#{!paymentController.renderReceipt}"
                                         style="margin-left: 5px"/>
                    </p:outputPanel>
                </div>
            </p:outputPanel>
        </f:subview>
        <p:dialog closeOnEscape="true"
                  position="top" style="margin-top: 100px; " appendTo="#{cc.attrs.dialogAppendTo}"
                  id="dlgHotChargeInfo" widgetVar="dlgHotChargeInfo#{cc.attrs.idComponent}"
                  header="#{lang['group.removeGroup.hotChargeInfo']}" dynamic="true"
                  modal="true" resizable="true" minWidth="900" width="900"
                  onShow="PF('hotChargeSumpaymentHotCharge#{cc.attrs.idComponent}').getJQ().focus()">
            <cbs:hotChargeViewer value="#{paymentController.hotChargeInfo}"
                                 update="@([id$=#{cc.attrs.idComponent}hotCharge]),
                                 @([id$=#{cc.attrs.idComponent}pay]),
                                 @([id$=#{cc.attrs.idComponent}txtTotalDebt]),
                                 @([id$=#{cc.attrs.idComponent}rowex]),
                                 @([id$=#{cc.attrs.idComponent}needAmount]),
                                 @([id$=#{cc.attrs.idComponent}promotion])"
                                 idComponent="paymentHotCharge#{cc.attrs.idComponent}"/>
        </p:dialog>
        <p:dialog closable="true" closeOnEscape="true"
                  position="top"
                  appendTo="#{cc.attrs.dialogAppendTo}"
                  id="dlgAnalyzePaymentSub" widgetVar="dlgAnalyzePaymentSub#{cc.attrs.idComponent}"
                  header="#{lang['lb.charge.sub']} #{paymentController.debitToViewInfo.contractNo}"
                  dynamic="true" modal="true" resizable="true"
                  onShow="$('.focusOn:first').focus()"
                  minWidth="900" width="95%">
            <div style="overflow-y: auto; max-height: 500px">
                <cbs:subdebitInfo value="#{paymentController.subdebitInfo}"
                                  callFromPaymentTag="#{true}"/>
            </div>
        </p:dialog>
        <p:dialog appendTo="#{cc.attrs.dialogAppendTo}" closable="true" closeOnEscape="true"
                  position="top" style="margin-top: 100px;"
                  id="dlgSelectIsdnRemain#{cc.attrs.idComponent}" widgetVar="dlgSelectIsdnRemain#{cc.attrs.idComponent}"
                  header="#{lang['payment.hotCharge.subscriber']}"
                  dynamic="true" modal="true" resizable="true" minWidth="600"
                  width="600">
            <p:outputPanel id="pnlIsdnRemain">
                <h:outputText value="#{lang['payment.reamin.chooseSubscriber']} "/>
                <h:outputText value="#{paymentController.selectedDebit.contractNo}"
                              styleClass="textImportant"/>

                <div class="viewIsdnRemainCharge">
                    <p:outputPanel rendered="#{not empty paymentController.selectedDebit.isdnCharge}">
                        <div class="Container100">
                            <h:outputText styleClass="lb-sentinel-bold"
                                          value="#{lang['sub.for.remain']} "/>
                            <h:outputText styleClass="textImportant"
                                          value="#{paymentController.selectedDebit.contractNo} : #{paymentController.selectedDebit.isdnCharge}"/>
                        </div>
                    </p:outputPanel>

                    <div class="Container100">
                        <p:dataTable id="tblIsdnRemain"
                                     selectionMode="single"
                                     selection="#{paymentController.selectedIsdn}"
                                     value="#{paymentController.selectedDebit.isdnList}" var="isdn"
                                     rowKey="#{isdn}">
                            <p:ajax event="rowSelect" listener="#{paymentController.selectIsdn}"
                                    update="tblIsdnRemain, @([id$=divIsdnCharge])"
                                    oncomplete="PF('dlgSelectIsdnRemain#{cc.attrs.idComponent}').hide()"/>
                            <p:column headerText="#{lang['sale.aftersale.blockOpen.subNo']}" styleClass="TexAlLeft">
                                <h:outputText styleClass="lb-sentinel-bold" value="#{isdn.isdn}"/>
                            </p:column>
                        </p:dataTable>
                    </div>

                    <div class="Container100">
                        <h:outputText styleClass="lb-sentinel-bold "
                                      title="#{lang['payment.isdn.remain.suggest']}"
                                      value="#{lang['payment.isdn.remain.suggest']}"/>
                    </div>
                </div>
            </p:outputPanel>
        </p:dialog>
        <p:confirmDialog global="true" showEffect="fade">
            <p:focus context="buttonPanel"/>
            <p:outputPanel id="buttonPanel" styleClass="TexAlRight">
                <p:commandButton value="#{lang['common.button.YES']}" styleClass="ui-confirmdialog-yes white"
                                 icon="fa fa-check"/>
                <p:commandButton value="#{lang['common.button.NO']}" styleClass="ui-confirmdialog-no white"
                                 icon="fa fa-times"/>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog closable="false" closeOnEscape="true"
                  appendTo="#{cc.attrs.dialogAppendTo}"
                  id="dlgPaymentOriComfirm#{cc.attrs.idComponent}"
                  widgetVar="dlgPaymentOriComfirm#{cc.attrs.idComponent}"
                  header="#{lang['group.pay.comfim']}"
                  modal="true" focus="btnConfirmPay#{cc.attrs.idComponent}"
                  resizable="false">
            <div class="Container100">
                <p:outputLabel styleClass="ui-icon ui-icon-alert" style="float: left;color: #d76666;margin-top: 1px;"/>
                <h:outputText style="color: #d76666" value="#{paymentController.confirmPayMessage}"/>
            </div>

            <f:facet name="footer">
                <div class="ContainerIndent TexAlRight">
                    <p:commandButton id="cancelPay" value="#{lang['common.button.NO']}"
                                     styleClass="FlatBlueButton" global="false"
                                     widgetVar="cancelPay" process="@this"
                                     update="@([id$=pnlMemberPayment]), @([id$=msgPaymentDlg]), @([id$=btnPayment]),
                                 @([id$=btnPrintInvoice]), @([id$=btnPrintReceipt]), #{paymentController.updateArea}"
                                     style="margin-left: 5px"
                                     oncomplete="PF('dlgPaymentOriComfirm#{cc.attrs.idComponent}').hide()"/>
                    <p:commandButton value="#{lang['common.button.YES']}"
                                     process="@this" id="btnConfirmPay#{cc.attrs.idComponent}"
                                     update="@([id$=pnlMemberPayment]), @([id$=msgPaymentDlg]), @([id$=btnPayment]),
                                 @([id$=btnPrintInvoice]), @([id$=btnPrintReceipt]), #{paymentController.updateArea}"
                                     oncomplete="PF('dlgPaymentOriComfirm#{cc.attrs.idComponent}').hide();if(!args.validationFailed){#{cc.attrs.oncomplete}}"
                                     action="#{paymentController.doPaymentWeb}"
                                     styleClass="btnConfirmPay FlatBlueButton"/>
                </div>
            </f:facet>
        </p:dialog>
        <script type="text/javascript">
            function focusButton() {
                try {
                    jQuery('.txtAmount input').focus();
                } catch (e) {
                }
            }
            focusButton();
            function focusButtonCanclePay() {
                try {
                    PF('cancelPay').getJQ().focus();
                    console.log("111111");
                } catch (e) {
                }
            }


        </script>
        <style>
            .ui-treetable table {
                font-size: 12px !important;
            }
        </style>
    </cc:implementation>
</ui:composition>