<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ps="http://primefaces.org/sentinel"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>
    <p:outputPanel rendered="#{not empty loginBean.userToken}">
        <div id="layout-menubar" class="Unselectable fontRegular">

            <div class="layout-menubarinner-box" id="buttonArea">

                <a href="#" id="layout-menubar-resize" class="BordRad3"
                   title="Menu Resize"> <!-- style="background: #ffffff;" -->
                    <i class="icon-th-list-2 white"></i>
                </a>
                <a href="#" id="layout-menubar-resize2" class="BordRad3"
                   title="Open Menu"><!-- style="background: #ffffff;" -->
                    <i class="icon-menu white"></i>

                </a>

            </div>


            <h:form id="form_menu">
                <ps:menu id="menu" model="#{menuBean.model}"/>
            </h:form>

        </div>
    </p:outputPanel>
</ui:composition>