<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <h:form id="dlgFunction" styleClass="Container100">
        <p:outputPanel id="pnlFunctionDlg" styleClass="Container100">
            <p:focus context="dlgFunction:pnlFunctionDlg"/>
            <p:defaultCommand target="saveButton"/>
            <p:outputPanel id="pnlCategory" styleClass="ContainerIndent mg-top-3">
                <div class="Container100 Responsive100">
                    <p:messages id="msgFormDlg" showSummary="false" showDetail="true" globalOnly="true" closable="true"/>
                    <div class="ContainerIndent Responsive100">
                        <!--Ma chuc nang -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtFunctionObjectCode"
                                               value="#{lang['menu.function.code']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputText
                                        id="txtFunctionObjectCode" disabled="#{not empty functionController.functionObjectDTO.functionObjectId}"
                                        style="float: right"
                                        value="#{functionController.functionObjectDTO.functionCode}"
                                        label="#{functionController.functionObjectDTO.functionCode}"
                                        onchange="this.value = this.value.trim()"
                                        maxlength="100">
                                    <p:keyFilter regEx="/[a-z0-9_]/i"/>
                                </p:inputText>
                            </div>
                        </div>
                        <!--Ten chuc nang -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtFunctionObjectName"
                                               value="#{lang['menu.function.name']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputText
                                        style="float: left"
                                        id="txtFunctionObjectName" widgetVar="txtFunctionObjectName"
                                        value="#{functionController.functionObjectDTO.functionName}"
                                        label="#{functionController.functionObjectDTO.functionName}"
                                        onchange="this.value = this.value.trim()"
                                        maxlength="300"
                                />
                            </div>
                        </div>

                    </div>
                    <div class="ContainerIndent Responsive100">
                        <!--Chuc nang cha -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtFunctionObjectParent"
                                               value="#{lang['menu.function.parent']}"/>

                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputText disabled="#{not functionController.searchFunctionObject == ''}"
                                             style="float: left"
                                             id="txtFunctionObjectParent" widgetVar="txtFunctionObjectParent" readonly="true"
                                             value="#{functionController.searchFunctionObject}"
                                             onchange="this.value = this.value.trim()"
                                             maxlength="200">
                                    <p:ajax process="@this" event="click" update="@([id$=treeMenuDlg])"/>
                                </p:inputText>
                                <p:commandLink
                                        styleClass="ui-link-right"
                                        process="@this"
                                        actionListener="#{functionController.delNodeParentOnDlg}"
                                        ajax="true"
                                        update="@([id$=imagePanel]),@([id$=txtFunctionObjectParent])"
                                        id="btnDelParent"
                                        style="float: right"
                                        title="#{lang['menu.function.parent.reset']}">
                                    <span class="ui-icon ui-c fa icon-ccw Fs12"/>
                                </p:commandLink>
                                <p:overlayPanel id="imagePanel" widgetVar="imagePanel" for="txtFunctionObjectParent" onHide="updateParentName();"
                                                hideEvent="mouseclick" style="max-height:400px; width:480px; border: #ffffff;overflow: scroll;">
                                    <p:outputPanel styleClass="content-tree" style="width: 100%; height:100%;">
                                        <p:tree value="#{functionController.rootTreeMenu}"
                                                var="root"
                                                dynamic="true"
                                                style="width: 100%; height:100%;"
                                                selectionMode="single"
                                                selection="#{functionController.selectedNode}"
                                                id="treeMenuDlg"
                                                widgetVar="treeMenuDlg">
                                            <p:ajax event="select" process="@this" immediate="true" listener="#{functionController.onNodeSelect}"
                                                    oncomplete="PF('imagePanel').hide();"/>
                                            <p:treeNode expandedIcon="ui-icon-home" collapsedIcon="ui-icon-home" icon="ui-icon-note">
                                                <h:outputText value="#{root.functionName}"/>
                                            </p:treeNode>
                                            <!--<p:ajax event="expand"
                                                    listener="#{mediaCategoryController.onNodeExpandActive}"/>
                                            <p:ajax event="select"
                                                    listener="#{mediaCategoryController.onNodeSelectActive}"/>-->
                                        </p:tree>
                                    </p:outputPanel>

                                    <p:remoteCommand name="updateParentName"
                                                     process="@this, @([id$=treeMenuDlg])"
                                                     immediate="true"
                                                     update="@([id$=imagePanel]),@([id$=txtFunctionObjectParent])"
                                                     actionListener="#{functionController.updateNodeSelected}"/>
                                </p:overlayPanel>

                            </div>
                        </div>
                        <div class="Container50 Responsive">

                        </div>
                        <!--Loai chuc nang -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="functionObjectType"
                                               value="#{lang['menu.function.type']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:selectOneMenu id="functionObjectType"
                                                 value="#{functionController.functionObjectDTO.functionType}"
                                                 converterMessage="#{lang['message.function.status.error.invalid']}"
                                >
                                    <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                  itemValue="#{null}"
                                                  escape="true"/>
                                    <f:selectItems value="#{functionController.functionTypeList}"
                                                   var="functionType"
                                                   itemValue="#{functionType.value}"
                                                   itemLabel="#{functionType.name}"
                                    />
                                    <p:ajax event="change" process="@this"/>
                                </p:selectOneMenu>

                            </div>
                        </div>
                    </div>
                    <!--loai quyen-->
                    <div class="ContainerIndent Responsive100">
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="functionPermissionType"
                                               value="#{lang['menu.function.permission.type']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:selectOneMenu id="functionPermissionType"
                                                 value="#{functionController.functionObjectDTO.permissionType}"
                                                 converterMessage="#{lang['message.function.permission.type.error.invalid']}"
                                                 filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                  itemValue="#{null}"
                                                  escape="true"/>
                                    <f:selectItems value="#{functionController.permissionTypeList}"
                                                   var="functionType"
                                                   itemValue="#{functionType.value}"
                                                   itemLabel="#{functionType.name}"
                                    />
                                    <p:ajax event="change" process="@this"/>
                                </p:selectOneMenu>

                            </div>
                        </div>
                        <!--Duong dan -->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtFunctionObjectPath"
                                               value="#{lang['menu.function.path']}"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputText
                                        id="txtFunctionObjectPath"
                                        style="float: right"
                                        value="#{functionController.functionObjectDTO.functionPath}"
                                        onchange="this.value = this.value.trim()"
                                        maxlength="250">
                                    <p:keyFilter regEx="/^[a-zA-Z0-9_///.]+$/"/>
                                </p:inputText>
                            </div>
                        </div>


                    </div>
                    <div class="ContainerIndent Responsive100">
                        <!--Trang thai-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="functionObjectStatus"
                                               value="#{lang['menu.function.status']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:selectOneMenu id="functionObjectStatus"
                                                 value="#{functionController.functionObjectDTO.status}"
                                                 converterMessage="#{lang['message.function.status.error.invalid']}"
                                                 filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="#{lang['common.select.one.menu.choise']}"
                                                  itemValue="#{null}"
                                                  escape="true"/>
                                    <f:selectItems value="#{functionController.statusList}"
                                                   var="functionType"
                                                   itemValue="#{functionType.value}"
                                                   itemLabel="#{functionType.name}"
                                    />
                                    <p:ajax event="change" process="@this"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <!--Thu tu-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtFunctionObjectOrderNo"
                                               value="#{lang['menu.function.order.no']}"/>
                                <p:outputLabel value="*" style="color: red"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputNumber
                                        style="float:left"
                                        id="txtFunctionObjectOrderNo" widgetVar="txtFunctionObjectOrderNo"
                                        value="#{functionController.functionObjectDTO.orderNo}"
                                        decimalPlaces="0"
                                        maxlength="3"
                                        minValue="0"
                                        maxValue="999"
                                />

                            </div>
                        </div>

                    </div>
                    <div class="ContainerIndent Responsive100">
                        <!--Mo ta-->
                        <div class="Container50 Responsive">
                            <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                <p:outputLabel for="txtFunctionObjectDes"
                                               value="#{lang['menu.function.des']}"/>
                            </div>
                            <div class="Container70 Responsive50 ui-fluid ui-relative">
                                <p:inputText
                                        style="float: left"
                                        id="txtFunctionObjectDes" widgetVar="txtFunctionObjectDes"
                                        value="#{functionController.functionObjectDTO.description}"
                                        label="#{functionController.functionObjectDTO.description}"
                                        onchange="this.value = this.value.trim()"
                                        maxlength="500"
                                />
                            </div>
                        </div>
                        <!--<div class="Container50 Responsive">-->
                        <!--<div class="Container30 Responsive50 pd-top-4 mg-left-15">-->
                        <!--<p:outputLabel for="txtFunctionObjectDes"-->
                        <!--value="Chỉ dành cho Admin viettel"/>-->
                        <!--</div>-->
                        <!--<div class="Container70 Responsive50 ui-fluid ui-relative">-->
                        <!--<p:selectBooleanCheckbox value="#{functionController.adminOnly}"/>-->
                        <!--</div>-->

                        <!--</div>-->
                    </div>

                </div>
                <p:outputPanel styleClass="Container100 TexAlCenter"
                               style="background-color: white; margin-top: 0px; padding: 1% 0%">
                <div class="Container100 TexAlCenter">
                    <p:commandButton id="cancelBtn"
                                     value="#{lang['common.button.NO']}"
                                     onclick="PF('dlgFunctionForm').hide()"
                                     immediate="true"
                                     process="@none"
                                     icon="ui-icon-search"
                                     style="margin-left:5px"/>
                    <p:commandButton
                            id="saveButton"
                            update="@([id$=tblListFunction]),@([id$=dlgFunction])"
                            process="@this,@([id$=pnlCategory])"
                            dlgWidgetVar="saveButton"
                            global="true"
                            actionListener="#{functionController.doCreateOrUpdate}"
                            styleClass="waves-effect waves-light btn"
                            style="margin-left:5px"
                            value="#{lang['common.save']}">
                        <p:confirm header="#{lang['webchain.catalog.dl.title']}"
                                   message="#{lang['webchain.catalog.comfirm.addForm']}"
                                   icon="ui-icon-alert"/>

                    </p:commandButton>
                    <!--<cc:confirmDialog-->
                    <!--idComponent="btnSave"-->
                    <!--titleButton="#{lang['common.save']}"-->
                    <!--headerConfirm="#{functionController.dlgConfirmHeader}"-->
                    <!--messageConfirm="#{functionController.dlgConfirmContent}"-->
                    <!--actionOK="#{functionController.doCreateOrUpdate}"-->
                    <!--styleClassButton="fa icon-trash Fs16 red"-->
                    <!--process="@this, @([id$=tblListFunction])"-->
                    <!--valueButton=""-->
                    <!--updateArea="@([id$=tblListFunction]),@([id$=msgFormDlg])"-->
                    <!--isButton="false"/>-->


                </div>
                </p:outputPanel>
            </p:outputPanel>
        </p:outputPanel>
    </h:form>
</ui:composition>