<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_CM_FUNCTION']}</ui:define>
    <ui:define name="content">
        <style type="text/css">
            td.selectionDisabled .ui-chkbox {
                display: none;
            }

            .mg-left-115 label:first-child {
                margin-left: 5px !important;
            }
        </style>

        <h:form id="function" styleClass="Container100">
            <p:outputPanel id="pnlfunctionSearch" styleClass="Container100">
                <p:outputPanel id="pnlFunctionSearchLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages id="msgSearch" showDetail="true" globalOnly="true"
                                showSummary="true"
                                closable="true"/>
                    <cbs:panel classForToggle="pnlfunctionSearch"
                               titleHeader="#{lang['common.search.header']}"/>
                    <div id="f" tabindex="1" class="Container100 Responsive100">
                        <div class="ContainerIndent">
                            <!-- Ma chuc nang -->
                            <div class="Container50 Responsive" id="pnlProgramName">
                                <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['menu.function.code']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText maxlength="100"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{functionController.inputLazyFunctionSearch.functionCode}"
                                    >
                                        <p:keyFilter regEx="/[a-z0-9_]/i"/>
                                    </p:inputText>
                                </div>
                            </div>

                            <!--Trang thai -->
                            <div class="Container50 Responsive">
                                <div class="Container30 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['menu.function.status']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid">
                                    <p:selectOneMenu value="#{functionController.inputLazyFunctionSearch.status}"
                                                     converterMessage="#{lang['message.function.status.error.invalid']}"
                                                     filter="true" styleClass="mui-select_2 Container75 ">
                                        <f:selectItem itemLabel="#{lang['common.select.one.menu.all']}"
                                                      itemValue=""/>
                                        <f:selectItems
                                                value="#{functionController.statusList}"
                                                var="apDomain"
                                                itemLabel="#{apDomain.name}"
                                                itemValue="#{apDomain.value}"/>
                                        <p:ajax event="change" oncomplete="completeSelect();" />
                                    </p:selectOneMenu>
                                </div>
                            </div>
                        </div>
                        <p:outputLabel class="Container100 TexAlCenter" style="background-color: white; margin-top: 0px; padding: 1% 0%">
                            <!--Tìm kiếm -->
                            <p:commandButton process="@this,@form"
                                             id="searchId"
                                             update="@([id$=pnlResultFunction]), @([id$=tblListFunction]),@([id$=msgSearch])"
                                             action="#{functionController.doSearch()}"
                                             onclick="PF('tblListFunction').getPaginator().setPage(0);"
                                             value="#{lang['common.button.search']}"
                                             style="margin-right: 5px"/>
                            <!--Xuất excel    -->
                            <p:commandButton
                                    id="exportExcel"
                                    immediate="true"
                                    update="@([id$=msgSearch])"
                                    widgetVar="exportExcel"
                                    ajax="false"
                                    style="margin-right: 5px"
                                    actionListener="#{functionController.prepareDownloadFileExport}"
                                    value="#{lang['common.button.export.excel']}">
                                <p:fileDownload value="#{functionController.downloadFile()}"/>
                            </p:commandButton>
                            <!--Them moi-->
                            <p:commandButton
                                    process="@this,@([id$=dlgFunctionForm])"
                                    update="@([id$=dlgFunctionForm])"
                                    id="addBtnDetailUpdate"
                                    style="margin-right: 5px"
                                    ajax="true"
                                    actionListener="#{functionController.preAddNewFunction}"
                                    oncomplete="if(!args.validationFailed){PF('dlgFunctionForm').show()}"
                                    value="#{lang['common.button.addnew']}"
                            />
                        </p:outputLabel>
                    </div>


                </p:outputPanel>
                <!--Kết quả tìm kiếm-->
                <p:outputPanel id="pnlResultFunction" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlFunctionList Container100">
                        <cbs:panel classForToggle="pnlTaskList"
                                   titleHeader="#{lang['common.lb.search.result']}"/>
                        <div class="pnlFunctionTableList Container100" style="float: left">
                            <p:outputPanel styleClass="Container100">
                                <p:dataTable id="tblListFunction"
                                             widgetVar="tblListFunction"
                                             styleClass="tableListCustomer"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['common.paging.paginator']}"
                                             var="functionDTO"
                                             rowIndexVar="rowIndex"
                                             value="#{functionController.functionObjectDTOList}"
                                             rowKey="#{functionDTO.functionObjectId}"
                                             lazy="true"
                                             scrollable="true" scrollWidth="120%"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['common.paging.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['common.paging.paginatorPosition']}"
                                             paginatorTemplate="#{lang['common.paging.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['common.paging.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['common.search.not.record.found']}">

                                    <!--Số thứ tự-->
                                    <p:column style="width: 4%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['lb.STT']}"
                                                          title="#{lang['lb.STT']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>
                                    <!--Thao tác-->
                                    <p:column style="width: 5%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['common.label.action']}"
                                                          title="#{lang['common.label.action']}"/>
                                        </f:facet>
                                        <!--cap nhat-->
                                        <p:commandLink title="#{lang['common.icon.update']}"
                                                       process="@this"
                                                       resetValues="true"
                                                       styleClass="fa icon-edit Fs16 blue"
                                                       update="@([id$=dlgFunctionForm]), @([id$=dlgFunction]), @([id$=tblListFunction])"
                                                       oncomplete="if(!args.validationFailed){PF('dlgFunctionForm').show()}"
                                                       actionListener="#{functionController.preEditFunction(functionDTO)}"
                                        >
                                        </p:commandLink>
                                        <!--xoa-->
                                        <p:commandLink title="#{lang['common.icon.delete']}"
                                                       disabled="#{functionDTO.status eq 0}"
                                                       style="margin-left: 5%;"
                                                       process="@this"
                                                       update="@([id$=pnlfunctionSearch]), @([id$=dlgFunction]), @([id$=tblListFunction])"
                                                       resetValues="true"
                                                       styleClass="fa icon-trash-1 Fs16 blue"
                                                       actionListener="#{functionController.deleteFunction(functionDTO)}"
                                        >
                                            <p:confirm header="#{lang['com.dl.title']}"
                                                       message="#{lang['common.comfirm.delete']}"
                                                       icon="ui-icon-alert"/>
                                        </p:commandLink>
                                    </p:column>
                                    <!--Chuc nang cha-->
                                    <p:column style="width: 9%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['menu.function.parent']}"
                                                    title="#{lang['menu.function.parent']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{functionDTO.parentFunctionName}" style="float:left;text-align: left"
                                                value="#{functionDTO.parentFunctionName}"/>
                                    </p:column>
                                    <!--Ma chuc nang-->
                                    <p:column style="width: 10%;" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['menu.function.code']}"
                                                    title="#{lang['menu.function.code']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{functionDTO.functionCode}" style="float:left;"
                                                       value="#{functionDTO.functionCode}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Ten chuc nang -->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['menu.function.name']}"
                                                    title="#{lang['menu.function.name']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{functionDTO.functionName}" style="float:left; text-align: left"
                                                value="#{functionDTO.functionName}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Loai chuc nang -->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['menu.function.type']}"
                                                    title="#{lang['menu.function.type']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{functionDTO.functionType == 1 ? lang['FUNCTION_TYPE_MODULE'] : lang['FUNCTION_TYPE_COMPONENT']}"
                                                       style="float:left;"
                                                       value="#{functionDTO.functionType == 1 ? lang['FUNCTION_TYPE_MODULE'] : lang['FUNCTION_TYPE_COMPONENT']}"/>
                                    </p:column>
                                    <!--duong dan -->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['menu.function.path']}"
                                                    title="#{lang['menu.function.path']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{functionDTO.functionPath}" style="float:left;"
                                                value="#{functionDTO.functionPath}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Mo ta -->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['menu.function.des']}"
                                                    title="#{lang['menu.function.des']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{functionDTO.description}" style="float:left;"
                                                       value="#{functionDTO.description}"/>
                                        <p:outputLabel/>
                                    </p:column>
                                    <!--Loại quyền -->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['menu.function.permission.type']}"
                                                    title="#{lang['menu.function.permission.type']}"/>
                                        </f:facet>
                                        <p:outputLabel
                                                title="#{functionDTO.permissionType == 1 ? lang['FUNCTION_PERMISSION_TYPE_SENSITIVE'] : lang['FUNCTION_PERMISSION_TYPE_NORMAL']}"
                                                style="float:left;"
                                                value="#{functionDTO.permissionType == 1 ? lang['FUNCTION_PERMISSION_TYPE_SENSITIVE'] : lang['FUNCTION_PERMISSION_TYPE_NORMAL']}"/>
                                    </p:column>
                                    <!--Trạng thái-->
                                    <p:column style="width: 10%" styleClass="TexAlCenter">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['menu.function.status']}"
                                                          title="#{lang['menu.function.status']}"/>
                                        </f:facet>
                                        <p:outputLabel title="#{functionDTO.status == 1 ? lang['MENU.STATUS_ACTIVE'] : lang['MENU.STATUS_IN_ACTIVE']}"
                                                       style="float:left;"
                                                       value="#{functionDTO.status == 1 ? lang['MENU.STATUS_ACTIVE'] : lang['MENU.STATUS_IN_ACTIVE']}"/>
                                    </p:column>

                                </p:dataTable>
                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>
            </p:outputPanel>
        </h:form>
        <p:dialog id="dlgFunctionForm"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgFunctionForm"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;font-weight: 500!important;color: dodgerblue;"
                  maximizable="false"
                  resizable="fasle"
                  width="90%"
                  header="#{functionController.dlgHeader}">
            <ui:include src="dlgFunction.xhtml"/>
        </p:dialog>
        <script>
            $(document).ready(function(){
                $('#f').focus();
            });
            $('#f').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    $('[id$=searchId]').click();
                }
            });
            function completeSelect() {
                $('#f').focus();
            }
        </script>
    </ui:define>
</ui:composition>