<ui:composition
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:cbs="http://java.sun.com/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:o="http://omnifaces.org/ui">
    <style>
        /*   .ui-fileupload-content{
               position: fixed;
           }*/
        .ui-fileupload-upload .ui-icon-arrowreturnthick-1-n {
            background-image: none !important;
        }

        .ui-fileupload-cancel .ui-icon-cancel {
            background-image: none !important;
        }

        .ui-button-icon-only .ui-button-text {
            min-width: 30px !important;
            height: 15px !important;
        }

        .ui-fileupload-files {
            display: inline !important;
            float: left !important;
        }

        .cmdCloseFile {
            color: red !important;
            /* size: 30px !important;*/
            font-weight: bold;
            margin-right: 20px;
            font-size: 20px !important;
        }

        .ui-tree-container {
            max-height: 250px;
            overflow-x: hidden !important;
            background: white;
        }

        .ui-tree {
            width: 100% !important;
        }


    </style>

    <h:form id="tableForm" styleClass="Container100">
        <p:outputPanel id="pnlManagementtableFormDlg" styleClass="Container100">
            <p:outputPanel id="pnlAddNewDlg" styleClass="ContainerIndent mg-top-3">
                <p:messages for="msg" showSummary="false" showDetail="true" globalOnly="true" closable="true"/>
                <div class="pnlDebitRequestList Container100">
                    <p:outputPanel styleClass="Container100">
                        <p:messages for="msgtable" showDetail="true" autoUpdate="true" showSummary="false"
                                    closable="true"/>
                        <p:dataTable id="tblListApdomain"
                                     widgetVar="tblListApdomain"
                                     styleClass="tblListApdomain"
                                     rows="#{lang['common.paging.rows.default']}"
                                     paginator="#{lang['webchain.catalog.paginator']}"
                                     var="dtofunctionObject"
                                     rowIndexVar="rowIndex"
                                     value="#{functionGroupController.functionObjectDTOS}"
                                     rowKey="#{dtofunctionObject.functionObjectId}"
                                     lazy="true"
                                     paginatorAlwaysVisible="true"
                                     rowsPerPageTemplate="#{lang['webchain.catalog.rowsPerPageTemplate']}"
                                     paginatorPosition="#{lang['webchain.catalog.paginatorPosition']}"
                                     paginatorTemplate="#{lang['webchain.catalog.paginatorTemplate']}"
                                     currentPageReportTemplate="#{lang['webchain.catalog.currentPageReportTemplate']}"
                                     emptyMessage="#{lang['webchain.catalog.search.not.record.found']}"
                                     scrollable="true" scrollWidth="140%"
                        >

                            <!--Số thứ tự-->
                            <p:column styleClass="TexAlCenter" style="width: 4%;">
                                <f:facet name="header">
                                    <h:outputText value="#{lang['webchain.catalog.stt']}"
                                                  title="#{lang['webchain.catalog.stt']}"/>
                                </f:facet>
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                            <!--CN cha-->
                            <p:column style="width: 9%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.permissionGroupName']}"
                                            title="#{lang['webchain.functionGroup.detail.permissionGroupName']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left" id="output_type"
                                               title="#{dtofunctionObject.parentFunctionName}"
                                               value="#{dtofunctionObject.parentFunctionName}"/>
                            </p:column>
                            <!--Mã chức năng-->
                            <p:column style="width: 9%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.functionCode']}"
                                            title="#{lang['webchain.functionGroup.detail.functionCode']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.functionCode}"
                                               value="#{dtofunctionObject.functionCode}"/>
                            </p:column>

                            <!--TênCN-->
                            <p:column style="width: 9%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="#{lang['webchain.functionGroup.detail.functionName']}"
                                                  title="#{lang['webchain.functionGroup.detail.functionName']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left" id="output_name"
                                               title="#{dtofunctionObject.functionName}"
                                               value="#{dtofunctionObject.functionName}"
                                />
                                <p:outputLabel/>
                            </p:column>

                            <!--Loại CN -->
                            <p:column style="width:9%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.functionType']}"
                                            title="#{lang['webchain.functionGroup.detail.functionType']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.functionType}"
                                               rendered="#{dtofunctionObject.functionType == 1}"
                                               value="#{lang['webchain.functionGroup.detail.permissionType1']}"
                                />
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.functionType}"
                                               rendered="#{dtofunctionObject.functionType == 2}"
                                               value="#{lang['webchain.functionGroup.detail.permissionType2']}"
                                />
                                <p:outputLabel/>
                            </p:column>
                            <!--đường dẫn -->
                            <p:column style="width:7%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.functionPath']}"
                                            title="#{lang['webchain.functionGroup.detail.functionPath']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.functionPath}"
                                               value="#{dtofunctionObject.functionPath}"
                                />
                                <p:outputLabel/>
                            </p:column>
                            <!--Mô tả -->
                            <p:column style="width:9%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.description']}"
                                            title="#{lang['webchain.functionGroup.detail.description']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.description}"
                                               value="#{dtofunctionObject.description}"
                                />
                                <p:outputLabel/>
                            </p:column>
                            <!--Loại quyên -->
                            <p:column style="width:7%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.permissionType']}"
                                            title="#{lang['webchain.functionGroup.detail.permissionType']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.permissionType}"
                                               rendered="#{dtofunctionObject.permissionType==0}"
                                               value="#{lang ['webchain.functionGroup.detail_NORMAL']}"

                                />
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.permissionType}"
                                               rendered="#{dtofunctionObject.permissionType==1}"
                                               value="#{lang ['webchain.functionGroup.detail_NORMAL']}"

                                />
                                <p:outputLabel style="float: left"
                                               title="#{dtofunctionObject.permissionType}"
                                               rendered="#{dtofunctionObject.permissionType==2}"
                                               value="#{lang ['webchain.functionGroup.detail_SENSITIVE']}"

                                />
                                <p:outputLabel/>
                            </p:column>
                            <!--Trạng thái-->
                            <p:column style="width: 12%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="#{lang['webchain.functionGroup.detail.stratus']}"
                                                  title="#{lang['webchain.functionGroup.detail.stratus']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left"
                                               rendered="#{dtofunctionObject.status == 0}" value="#{lang['webchain.catalog.status2']}"
                                               title="#{dtofunctionObject.status}"/>

                                <p:outputLabel style="float: left"
                                               rendered="#{dtofunctionObject.status == 1}" value="#{lang['webchain.catalog.status3']}"
                                               title="#{dtofunctionObject.status}"/>
                            </p:column>
                            <!--Trạng thái cấp quyền-->
                            <p:column style="width: 12%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="#{lang['webchain.functionGroup.detail']}"
                                                  title="#{lang['webchain.functionGroup.detail']}"/>
                                </f:facet>
                                <!--<p:outputLabel style="float: left" id="output_status"
                                               rendered="#{apdomain.status == 0}"  value="Không hiệu lực"
                                               title="#{apdomain.status}"/>

                                <p:outputLabel rendered="#{apdomain.status == 1}" value="Hiệu lực"
                                               title="#{apdomain.status}"/>-->
                            </p:column>
                            <!--người tác động-->
                            <p:column style="width:13%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.updateUser']}"
                                            title="#{lang['webchain.functionGroup.detail.updateUser']}"/>
                                </f:facet>
                                <p:outputLabel style="float: left" id="output_updateUser"
                                               title="#{dtofunctionObject.updateUser}"
                                               value="#{dtofunctionObject.updateUser}"
                                />
                            </p:column>
                            <!--ngày tác động-->
                            <p:column style="width:9%;text-align: center">
                                <f:facet name="header">
                                    <h:outputText
                                            value="#{lang['webchain.functionGroup.detail.updateDate']}"
                                            title="#{lang['webchain.functionGroup.detail.updateDate']}"/>
                                </f:facet>
                                <p:outputLabel id="output_updateDate"
                                               title="#{dtofunctionObject.updateDate}"
                                               value="#{dtofunctionObject.updateDate}"
                                >
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                </p:outputLabel>
                            </p:column>
                        </p:dataTable>

                    </p:outputPanel>
                </div>
            </p:outputPanel>
            <p:outputPanel styleClass="Container100 TexAlCenter"
                           style="background-color: white; margin-top: 0px; padding: 1% 0%">

                <div class="ContainerIndent">
                <p:commandButton
                        style="margin-right: 5px"
                        id="btnClose"
                        onclick="PF('dlgFunctionGroupDetail').hide();"
                        value="#{lang['notification.close']}">
                </p:commandButton>
                </div>
            </p:outputPanel>
        </p:outputPanel>
        <hr></hr>
    </h:form>
</ui:composition>
