<ui:composition
        template="/pages/bccs2/sentinel/template.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:fn="http://java.sun.com/jsp/jstl/functions"
        xmlns:cbs="http://xmlns.jcp.org/jsf/composite/tags"
        xmlns:pe="http://primefaces.org/ui/extensions"
        xmlns:cc="http://java.sun.com/jsf/composite/tags"
        xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="title"> #{lang['WEBCHAIN_CATALOG_APDOMAIN']}</ui:define>
    <ui:define name="content">
        <h:form id="form" styleClass="Container100">

            <p:outputPanel id="xxx" styleClass="Container100">
                <!--<p:focus context="form:pnlReportLabel"/>-->
                <!--form tìm kiếm-->
                <p:outputPanel id="pnlReportLabel" styleClass="ContainerIndent mg-top-3">
                    <p:messages for="messages" autoUpdate="true" showDetail="true" globalOnly="true" showSummary="true"
                                closable="true"/>
                    <cbs:panel classForToggle="pnlReportSearch"
                               titleHeader="#{lang['common.search.header']}"/>
                    <div id="formSearch" tabindex="1" class="Container100 Responsive100">
                        <div class="ContainerIndent">
                            <!--loai ts-->
                            <div class="Container33 Responsive" id="type">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.catalog.type']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="hmid" maxlength="50"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{apdomainController.inputApdomainSearch.inputType}"
                                                 title="#{apdomainController.inputApdomainSearch.inputType}">
                                    </p:inputText>
                                </div>
                            </div>

                            <!--ten ts-->
                            <div class="Container33 Responsive" id="name">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.catalog.name']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="hmi2" maxlength="200"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{apdomainController.inputApdomainSearch.inputName}"
                                                 title="#{apdomainController.inputApdomainSearch.inputName}">
                                    </p:inputText>
                                </div>
                            </div>
                            <!-- ma ts-->
                            <div class="Container33 Responsive" id="code">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.catalog.code']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="hnname" maxlength="50"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{apdomainController.inputApdomainSearch.inputCode}"
                                                 title="#{apdomainController.inputApdomainSearch.inputCode}">
                                    </p:inputText>
                                </div>
                            </div>

                            <!--gia tri-->
                            <div class="Container33 Responsive" id="value">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.catalog.value']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:inputText id="hmi3" maxlength="500"
                                                 onchange="this.value=this.value.trim()"
                                                 value="#{apdomainController.inputApdomainSearch.inputValue}"
                                                 title="#{apdomainController.inputApdomainSearch.inputType}">
                                    </p:inputText>
                                </div>
                            </div>
                            <!--Trạng thái-->
                            <div class="Container33 Responsive" id="statuss">
                                <div class="Container40 Responsive50 pd-top-4 mg-left-15">
                                    <p:outputLabel styleClass="lb-sentinel"
                                                   value="#{lang['webchain.catalog.satus']}"/>
                                </div>
                                <div class="Container60 Responsive50 ui-fluid ui-relative">
                                    <p:selectOneMenu id="status"
                                                     value="#{apdomainController.inputApdomainSearch.status}"
                                                    >
                                        <f:selectItem itemLabel="#{lang['webchain.catalog.satus2']}"
                                                      itemValue=""
                                                      escape="true"/>
                                        <!-- <f:selectItem itemLabel="#{lang['webchain.catalog.status0']}"
                                                       itemValue="0"
                                                       escape="true"/>
                                         <f:selectItem itemLabel="#{lang['webchain.catalog.status1']}"
                                                       itemValue="1"
                                                       escape="true"/>-->
                                        <f:selectItems
                                                value="#{apdomainController.listStatus}"
                                                var="status"
                                                itemLabel="#{status.name}" itemValue="#{status.value}"/>
                                        <p:ajax event="change" oncomplete="completeSelect();" />

                                    </p:selectOneMenu>
                                </div>
                            </div>

                        </div>
                        <p:outputPanel styleClass="Container100 TexAlCenter"
                                       style="background-color: white; margin-top: 0px; padding: 1% 0%">

                        <div class="ContainerIndent">
                            <!--Tìm kiếm-->
                            <p:commandButton process="@this,@([id$=pnlReportLabel])"
                                             id="searchId"
                                             update="@([id$=tblListApdomain])"
                                             action="#{apdomainController.doSearch}"
                                             onclick="PF('tblListApdomain').getPaginator().setPage(0);"
                                             value="#{lang['webchain.catalog.search']}" style="margin-left: 5px"/>

                            <!--Them moi-->
                            <p:commandButton widgetVar="AddBtn" id="AddBtn"
                                             value="#{lang['webchain.catalog.addNavigate']}"
                                             process="@this,@form"
                                             style="margin-left:5px;"
                                             update="@([id$=dlgbpcapdomain])"
                                             actionListener="#{apdomainController.prepareToShowAdd}"
                                             oncomplete="PF('dlgbpcapdomain').show();"

                            />
                        </div>
                        </p:outputPanel>
                    </div>
                </p:outputPanel>

                <!--Kết quả tìm kiếm-->
                <p:outputPanel id="pnlResultAction" styleClass="ContainerIndent mg-top-3">
                    <div class="pnlDebitRequestList Container100">
                        <cbs:panel classForToggle="pnlTaskList"
                                   titleHeader="#{lang['common.lb.search.result']}"/>

                        <!--Xóa-->
                        <!--<p:outputPanel styleClass="Container100">
                            <cc:confirmButton
                                    id="btnDeleteApdomainBean"
                                    updateArea="@([id$=msgTableResult])"
                                    process="@this, @([id$=pnlResultAction])"
                                    dlgWidgetVar="btnDeleteApdomainBean"
                                    focusCancel="false"
                                    appendTo="@(body)"
                                    styleButton="float: right;margin-right:5px"
                                    actionListener="#{apdomainController.doDelete}"
                                    headerConfirm="#{lang['webchain.catalog.dlgxoa']}"
                                    messageConfirm="#{lang['webchain.catalog.dlgxoa']}"
                                    styleClassButton="waves-effect waves-light btn"
                                    valueButton="#{lang['webchain.catalog.btnxoa']}">
                            </cc:confirmButton>
                        </p:outputPanel>-->

                        <div class="pnlDebitRequestList Container100">
                            <p:outputPanel styleClass="Container100">
                                <p:messages for="msgtable" showDetail="true" autoUpdate="true" showSummary="false"
                                            closable="true"/>
                                <p:dataTable id="tblListApdomain"
                                             widgetVar="tblListApdomain"
                                             styleClass="tblListApdomain"
                                             rows="#{lang['common.paging.rows.default']}"
                                             paginator="#{lang['webchain.catalog.paginator']}"
                                             var="apdomain"
                                             rowIndexVar="rowIndex"
                                             value="#{apdomainController.apDomainDTOs}"
                                             selection="#{apdomainController.selectedProgramDTOS}"
                                             rowKey="#{apdomain.apDomainId}"
                                             lazy="true"
                                             paginatorAlwaysVisible="true"
                                             rowsPerPageTemplate="#{lang['webchain.catalog.rowsPerPageTemplate']}"
                                             paginatorPosition="#{lang['webchain.catalog.paginatorPosition']}"
                                             paginatorTemplate="#{lang['webchain.catalog.paginatorTemplate']}"
                                             currentPageReportTemplate="#{lang['webchain.catalog.currentPageReportTemplate']}"
                                             emptyMessage="#{lang['webchain.catalog.search.not.record.found']}"
                                             scrollable="true" scrollWidth="110%"
                                >

                                    <!--Số thứ tự-->
                                    <p:column styleClass="TexAlCenter" style="width: 3%;">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.catalog.stt']}"
                                                          title="#{lang['webchain.catalog.stt']}"/>
                                        </f:facet>
                                        <h:outputText value="#{rowIndex+1}"/>
                                    </p:column>

                                    <!--Thao tác-->
                                    <p:column styleClass="TexAlCenter" style="width: 6%">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.catalog.edit']}"
                                                          title="#{lang['webchain.catalog.edit']}"/>
                                        </f:facet>
                                        <p:commandLink title="#{lang['common.icon.update']}"
                                                       style="margin-right: 15px;"
                                                       process="@this,@([id$=pnlReportLabel])"
                                                       resetValues="true"
                                                       styleClass="fa icon-edit Fs16 blue"
                                                       update="@([id$=dlgbpcapdomain])"
                                                       actionListener="#{apdomainController.prepareToShowEdit(apdomain)}"
                                                       oncomplete="if(!args.validationFailed){PF('dlgbpcapdomain').show()}"
                                        >
                                        </p:commandLink>
                                        <!--Xóa yêu cầu-->
                                        <p:commandLink title="#{lang['webchain.catalog.delete']}"
                                                       style="margin-left: 5px;"
                                                       process="@this,@([id$=tblListApdomain])"
                                                       resetValues="true"
                                                       disabled="#{apdomain.status == 0 ? true : false}"
                                                       styleClass="fa icon-trash-1 Fs16 blue"
                                                       update="@([id$=tblListApdomain]),@([id$=msgTableResult])"
                                                       actionListener="#{apdomainController.doDelete(apdomain)}">
                                            <p:confirm header="#{lang['webchain.catalog.dl.title']}"
                                                       message="#{lang['webchain.catalog.comfirm.delete']}"
                                                       icon="ui-icon-alert"/>
                                        </p:commandLink>
                                    </p:column>

                                    <!--Loaits-->
                                    <p:column style="width: 10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.catalog.type']}"
                                                    title="#{lang['webchain.catalog.type']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_type"
                                                       title="#{apdomain.type}"
                                                       value="#{apdomain.type}"/>
                                    </p:column>

                                    <!--Tênts-->
                                    <p:column style="width: 10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.catalog.name']}"
                                                          title="#{lang['webchain.catalog.name']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_name"
                                                       title="#{apdomain.name}"
                                                       value="#{apdomain.name}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--mats -->
                                    <p:column style="width:10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.catalog.code']}"
                                                    title="#{lang['webchain.catalog.code']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_code"
                                                       title="#{apdomain.code}"
                                                       value="#{apdomain.code}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--value-->
                                    <p:column style="width:10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.catalog.value']}"
                                                    title="#{lang['webchain.catalog.value']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_value"
                                                       title="#{apdomain.value}"
                                                       value="#{apdomain.value}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                    <!--Trạng thái-->
                                    <p:column style="width: 9%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText value="#{lang['webchain.catalog.satus']}"
                                                          title="#{lang['webchain.catalog.satus']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_status"
                                                       rendered="#{apdomain.status == 0}"
                                                       value="#{lang['webchain.catalog.status0']}"
                                                       title="#{lang['webchain.catalog.status0']}"/>

                                        <p:outputLabel style="float: left"
                                                       rendered="#{apdomain.status == 1}"
                                                       value="#{lang['webchain.catalog.status1']}"
                                                       title="#{lang['webchain.catalog.status1']}"/>
                                    </p:column>

                                    <!--mo ta-->
                                    <p:column style="width:10%;text-align: center">
                                        <f:facet name="header">
                                            <h:outputText
                                                    value="#{lang['webchain.catalog.descrip']}"
                                                    title="#{lang['webchain.catalog.descrip']}"/>
                                        </f:facet>
                                        <p:outputLabel style="float: left" id="output_descrip"
                                                       title="#{apdomain.description}"
                                                       value="#{apdomain.description}"
                                        />
                                        <p:outputLabel/>
                                    </p:column>

                                </p:dataTable>

                            </p:outputPanel>
                        </div>
                    </div>
                </p:outputPanel>


            </p:outputPanel>

        </h:form>

        <p:dialog id="dlgbpcapdomain"
                  appendTo="@(body)" closable="true" closeOnEscape="true"
                  position="top"
                  styleClass="Container100"
                  widgetVar="dlgbpcapdomain"
                  modal="true"
                  style="!important;max-height:600px;overflow:auto; margin-top: 25px;"
                  maximizable="false"
                  resizable="false"
                  header="#{apdomainController.apDomainDTO.apDomainId ==null ? lang['webchain.catalog.header.add'] : lang['webchain.catalog.header.update']}"
                  width="89%">
            <ui:include src="dlgbpcapdomain.xhtml"/>
        </p:dialog>
        <script>
            $(document).ready(function(){
                $('#formSearch').focus();
            });
            $('#formSearch').keypress(function (e) {
                if (e.which == 13|| e.keyCode === 13) {
                    $('[id$=searchId]').click();
                }
            });
            function completeSelect() {
                $('#formSearch').focus();
            }
        </script>
    </ui:define>

</ui:composition>